<div class="modal-header" *ngIf="doctorDetail">
    <div class="modal-title">
        Status : {{doctorDetail.status}}
        <a (click)="showStatusForm()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    </div>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modalRef.hide()">
        <span aria-hidden="true" class="la la-close"></span>
    </button>
</div>
<div class="modal-body">

    <!-- Show if doctorDetail division -->
    <div *ngIf="doctorDetail">

        <!-- Profile Div -->
        <div *ngIf="!isStatusFormVisible">

            <!-- row for doctor details -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="ks-user">
                        <a href="{{doctorDetail.profilePic ? doctorDetail.profilePic : imgnotfound}}" target="_blank">
                            <img class="ks-avatar pull-left" height="36" [src]="doctorDetail.profilePic ? doctorDetail.profilePic : imgnotfound" width="36">
                        </a>

                        <span class="pull-left" style="padding-left:10px">
                        Name : {{doctorDetail.firstName == undefined ? "NA" : doctorDetail.firstName}} <br> 
                        doctorid - {{doctorDetail.userId}}
                </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    Contact : {{doctorDetail.mobile}} <br> EmailId : {{doctorDetail.emailid}}
                </div>
                <div class="col-lg-4">
                    Ratings : {{doctorDetail.averageRating}} of 5({{doctorDetail.ratingUserCount}}) <br>
                    <div class="ks-rating">
                        <i aria-hidden="true" *ngFor="let number of getArrayofNumber(doctorDetail.averageRating, 'positive')" class="la la-star ks-star"></i>
                        <i aria-hidden="true" *ngFor="let number of getArrayofNumber(doctorDetail.averageRating, 'deduct')" class="la la-star-o ks-star"></i>
                    </div>

                </div>
            </div>

            <!-- row for Consultation stats -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Consultation Details</h3> <br>
                </div>
                <div class="col-lg-4 text-center">
                    Today <br>
                    <h3>{{consultationCounts["today"]}}</h3>
                    <!-- <i class="fa fa-inr" aria-hidden="true"></i> 800 -->
                </div>
                <div class="col-lg-4 text-center">
                    Fortnight <br>
                    <h3>{{consultationCounts["fortnight"]}}</h3>
                    <!-- <i class="fa fa-inr" aria-hidden="true"></i> 3,200 -->
                </div>
                <div class="col-lg-4 text-center">
                    Overall <br>
                    <h3>{{consultationCounts["overall"]}}</h3>
                    <!-- <i class="fa fa-inr" aria-hidden="true"></i> 14,800 -->
                </div>
            </div>

            <!-- row for Availability -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Availability timings</h4> <br>
                </div>

                <div class="col-lg-3"></div>
                <div class="col-lg-3 pull-right">
                    <select [(ngModel)]="today" class="form-control" (change)="getAvailabilityByDay()">
                <option *ngFor="let day of listOfDays" [ngValue]="day">{{day}}</option>
            </select>
                </div>
                <div class="col-lg-6">
                    <label class="form-control-label"> {{selectedDaysAvailability}} </label>
                </div>

            </div>

            <br/><br/>

            <!-- row for docs and bank details -->
            <div class="row">
                <div class="col-lg-4">
                    <h5>Documents & Certificates</h5>
                    <div *ngFor="let doc of doctorDetail.documents">
                        <a href="{{doc.url}}" target="_blank">
                    {{doc.url | decodeURI}} <i class="fa fa-download" aria-hidden="true"></i>
                </a> <a><i class="fa" [ngClass]="doc.status=='accepted' ? 'fa-check-circle gereentext' : 'fa-question-circle'" aria-hidden="true" (click)="openVerificationWindow()" title="{{doc.status}}" ></i></a><br />
                    </div>

                </div>
                <div class="col-lg-4">
                    <h5>Consultation Details</h5>
                    Successful Consultation : {{consultationCounts["successful"]}} <br> Rejected Consultation : {{consultationCounts["rejected"]}}
                </div>
                <div class="col-lg-4">
                    <h5>Bank Details</h5>
                    {{doctorDetail.bankDetails.length > 0 ? '' : "Not Found"}}
                    <div *ngFor="let bank of doctorDetail.bankDetails">
                        IFSC : {{bank.IFSC}} <br> Account Holder Name : {{bank.accountHolderName}}<br> Account Number : {{bank.accountNumber}}
                    </div>
                </div>
            </div>

            <!-- row for specialization etc -->
            <div class="row">
                <div class="col-lg-4">
                    <h5>Areas of experties</h5>
                    {{doctorDetail.specialization.length > 0 ? doctorDetail.specialization.join(' , ') : "No experties found"}}
                </div>
                <div class="col-lg-4">
                    <h5>Currently Practicing at</h5>
                    <span *ngFor="let wf of doctorDetail.WorksFor">{{wf.organization + " ,"}}</span>
                    <!-- {{doctorDetail.WorksFor.length > 0 ? doctorDetail.WorksFor.join(' , ') : "Not Found"}} -->
                </div>
                <div class="col-lg-4">
                    <h5>Award &amp; Recognitions </h5>
                    {{doctorDetail.awards != undefined && doctorDetail.awards.length > 0 ? doctorDetail.awards.join(' , ') : "Not Found"}}
                </div>
            </div>

        </div>

        <!-- Status Div -->
        <div *ngIf="isStatusFormVisible">
            <form class="row">
                <div class="col-lg-6">

                    <div class="form-group">
                        <select name="approval status" class="form-control" [(ngModel)]="statusForm.status">
                        <option *ngFor="let st of statusList" [ngValue]="st">{{st}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Chat Charges</label>
                        <input type="number" placeholder="Doctor Chat Charges" name="doctorFee" [(ngModel)]="statusForm.doctorFee" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Audio Charges</label>
                        <input type="number" placeholder="Doctor Audio Charges" name="doctorAudioFee" [(ngModel)]="statusForm.doctorAudioFee" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Planned Chat Charges</label>
                        <input type="number" placeholder="Doctor Planned Chat Charges" name="plannedChatFee" [(ngModel)]="statusForm.plannedChatFee" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Planned Audion Charges</label>
                        <input type="number" placeholder="Doctor Planned Audio Charges" name="plannedAudioFee" [(ngModel)]="statusForm.plannedAudioFee" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="rating"> Rating from Admin </label>
                        <select class="form-control" name="ddlratingbyadmin" [(ngModel)]="statusForm.ratingByAdmin">
                            <option *ngFor="let number of getArrayofNumber(11, 'positive')" [ngValue]="number">{{number}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Enter Reason here " name="status" cols="60" rows="5" [(ngModel)]="statusForm.reason" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button (click)="updateStatus()" type="button" class="btn btn-primary">Submit</button>
                        <button (click)="handleCancel()" type="button" class="btn btn-warning">Cancel</button>
                    </div>

                </div>
            </form>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
</div>