<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center"> Company List </h3>
    </div>

    <div class="col-lg-8">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="type something to search" (keyup)="doSearch(searchTerm)" />
    </div>
    <div class="col-lg-1">
        <select [(ngModel)]="pageCount" class="form-control" (change)="onPageCountChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="500">500</option>
        </select>
    </div>
    <div class="col-lg-3">
        <a class="btn btn-warning" [routerLink]="['/app/corpomanage/0']"> Add new company </a>
    </div>

    <div class="col-lg-12"> <br> </div>

    <div class="col-lg-12">

        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th width="50">Sr. No</th>
                    <th width="110" (click)="doChangeSort('companyName')">Company Name <i [ngClass]="(sortField=='companyName-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='companyName-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i> </th>
                    <th width="160" (click)="doChangeSort('createdAt')">createdAt <i [ngClass]="(sortField=='createdAt-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='createdAt-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="100" (click)="doChangeSort('employeeStrength')">Employee Strength <i [ngClass]="(sortField=='employeeStrength-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='employeeStrength-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th (click)="doChangeSort('corporatePayType')" width="130">Paying/Non-Paying <i [ngClass]="(sortField=='corporatePayType-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='corporatePayType-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th (click)="doChangeSort('planType')" width="130">Plan Type <i [ngClass]="(sortField=='planType-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='planType-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="110" (click)="doChangeSort('industryType')">Industry Type <i [ngClass]="(sortField=='industryType-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='industryType-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th>App Link</th>
                    <th width="130">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of dataList; let i = index">
                    <td>{{companyObj.skip + i+1}}</td>
                    <td>
                        {{doc.companyName}}
                    </td>
                    <td>
                        {{doc.createdAt | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}
                    </td>
                    <td>
                        {{doc.employeeStrength}}
                    </td>
                    <td>
                        {{doc.corporatePayType}}
                    </td>
                    <td>
                        {{doc.planType}}
                    </td>
                    <td>{{doc.industryType}}</td>
                    <td>{{(doc.dynamicLink)? doc.dynamicLink : ""}}</td>
                    <td>
                        <a class="btn btn-primary-outline ks-no-text" [routerLink]="['/app/corpomanage',doc._id]">
                            <span class="fa fa-pencil-square-o ks-icon"></span>
                        </a>
                        <a class="btn btn-primary-outline ks-no-text" (click)="deletecompany(doc._id)">
                            <span class="fa fa-trash ks-icon"></span>
                        </a>
                        <a class="btn btn-primary-outline ks-no-text" (click)="getEmployeeList(doc.companyName)">
                            <span class="fa fa-user ks-icon"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 ">
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " aria-label="Previous " (click)="doPrevious() ">
                        <span aria-hidden="true " class="la la-caret-left "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                </li>

                <li class="page-item " *ngFor="let pcsc of paginationshowcount | slice:(currentPage-1):(currentPage+5)" [class.active]="pcsc==currentPage ">
                    <a class="page-link " (click)="doChangePage(pcsc) ">{{pcsc}}</a>
                </li>
                <li *ngIf="paginationshowcount.length > 5">
                    <a class="page-link " style="width:60px;border-top:none !important;border-left:none !important;border-right:none !important; border-bottom:2px dotted #c4cbe1; margin-left:10px; margin-right:10px;"> &nbsp;</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Next " (click)="doNext() ">
                        <span aria-hidden="true " class="la la-caret-right "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Total Count">
                        {{(companyObj.pageCount * (currentPage-1))+1 + " to " +(companyObj.pageCount*currentPage)}} out of {{totalComap}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>