<div style="margin-top:2%">
    <h4 class="text-center">Pre Applied Coupon</h4>

    <div class="row">
        <div class="col-lg-4">

            <form [formGroup]="paCoupon" (ngSubmit)="doUpdate(paCoupon)">
                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <label for="label">Coupon Tag</label>
                            <input type="text" class="form-control" formControlName="couponTag" [ngClass]="{'error':!paCoupon.controls['couponTag'].valid}" />
                        </div>
                        <div class="form-group">
                            <label for="name">Consultation Count From</label>
                            <input type="number" class="form-control" min="1" formControlName="countFrom" [ngClass]="{'error':!paCoupon.controls['countFrom'].valid}" />
                        </div>
                        <div class="form-group">
                            <label for="email">Counsultation Count To</label>
                            <input type="number" class="form-control" min="1" formControlName="countTo" [ngClass]="{'error':!paCoupon.controls['countTo'].valid}" />
                        </div>
                        <div class="form-group">
                            <label for="">Amount/Percentage Value</label>
                            <input type="number" class="form-control" min="0" formControlName="amount" [ngClass]="{'error':!paCoupon.controls['amount'].valid}" />
                        </div>
                        <div class="form-group">
                            <label for="">Discount Type</label>
                            <select class="form-control" formControlName="amountType">
                              <option value="flat">Flat Discount</option>
                              <option value="percentage">Percentage Discount</option>
                              <option value="cashback" disabled>Cashback Discount</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Coupon Type</label>
                            <select class="form-control" formControlName="discountType">
                              <option value="discount">Discount</option>
                              <option value="surge">Surge Charge</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary"> Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Counsultation From</th>
                        <th>Counsultation To</th>
                        <th>Amount Value</th>
                        <th>Type</th>
                        <th>Behaviour</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cp of couponList">
                        <td>{{cp.countFrom}}</td>
                        <td>{{cp.countTo}}</td>
                        <td>{{cp.amount}}</td>
                        <td>{{cp.amountType}}</td>
                        <td>{{cp.discountType}}</td>
                        <td>
                            <a class="btn btn-primary-outline ks-no-text" (click)="updateCouponbtn(cp)">
                                <span class="fa fa-pencil-square-o ks-icon"></span>
                            </a>
                            <a class="btn btn-primary-outline ks-no-text" (click)="deleteCoupon(cp._id)">
                                <span class="fa fa-trash ks-icon"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>