<div class="row" style="margin-top:2%; min-height:2000px">
    <div class="col-lg-6">
        <h4 class="text-center">Create Subscription/Package </h4>

        <form [formGroup]="subscriptionFrm" (ngSubmit)="doUpdateCreateSubscription(subscriptionFrm)">
            <div class="card panel">
                <div class="card-block">
                    <div class="form-group">
                        <label class="custom-control custom-radio">
                                    <input class="custom-control-input" formControlName="subscriptionType" value="Subscription" type="radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Subscription</span>
                                  </label>

                        <label class="custom-control custom-radio">
                                    <input class="custom-control-input" formControlName="subscriptionType" value="Package" type="radio">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Package</span>
                                  </label>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label">Subscription Tag</label>
                                <input type="text" class="form-control" maxlength="25" formControlName="subscriptionTag" [ngClass]="{'error':!subscriptionFrm.controls['subscriptionTag'].valid}" />
                            </div>
                            <div class="col-lg-6">
                                <label for="label">Plan Price</label>
                                <input type="number" min="0" class="form-control" formControlName="price" [ngClass]="{'error':!subscriptionFrm.controls['price'].valid}" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label" *ngIf="subscriptionFrm.controls['subscriptionType'].value=='Subscription'">Payment Cycle</label>
                                <label for="label" *ngIf="subscriptionFrm.controls['subscriptionType'].value=='Package'">Validity Period</label>
                                <select class="form-control" formControlName="paymentCycle">
                                        <option>Monthly</option>
                                        <option>Quarterly</option>
                                        <option>Half-yearly</option>
                                        <option>Yearly</option>
                                        </select>
                            </div>

                            <div class="col-lg-6">
                                <label for="label">Original Price</label>
                                <input type="number" min="0" class="form-control" formControlName="originalPrice" [ngClass]="{'error':!subscriptionFrm.controls['originalPrice'].valid}" />
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="label">Free GP Consultation</label>
                        <input type="number" min="0" class="form-control" formControlName="freeGPConsultations" [ngClass]="{'error':!subscriptionFrm.controls['freeGPConsultations'].valid}" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea formControlName="description" placeholder="Description" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="label">Fee per employee</label>
                                    <input type="number" min="0" class="form-control" formControlName="feePerEmployee" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="label">Consultations per emp</label>
                                    <input type="number" min="0" class="form-control" formControlName="consultationPerEmployee" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="label">Select Relatives</label>
                                    <ss-multiselect-dropdown [options]="relativesList" [texts]="myTexts" [settings]="mySettings" formControlName="allowedFor"></ss-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">{{subscriptionFrm.value._id ? "UPDATE" : "SUBMIT"}}</button>
                    </div>

                </div>
            </div>
        </form>

    </div>

    <div class="col-lg-6">
        <h4 class="text-center"> Subscription List </h4>
        <table class="table table-bordered">
            <tr>
                <th>Tag</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let ss of subscriptionList">
                <td>{{ss.subscriptionTag}}</td>
                <td>{{ss.subscriptionType}}</td>
                <td>{{ss.price}}</td>
                <td>
                    <a class="btn btn-primary-outline ks-no-text" (click)="updateSubScription(ss)">
                        <span class="fa fa-pencil-square-o ks-icon"></span>
                    </a>
                    <a class="btn btn-primary-outline ks-no-text" (click)="deleteSubscription(ss._id)">
                        <span class="fa fa-trash ks-icon"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>