<div class="row">
    <div class="col-lg-3">
        <div class="card ks-widget-weather-and-datetime ks-sunny">
            <h4 class="leftspan">New Request</h4>
            <h2 class="rightspan">{{newRequest}}</h2>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card ks-widget-weather-and-datetime ks-cold">
            <h4 class="leftspan">Unassigned Consultation</h4>
            <h2 class="rightspan">{{unassignedConsultation}}</h2>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card ks-widget-weather-and-datetime ks-sunny">
            <h4 class="leftspan">Inactive</h4>
            <h2 class="rightspan">{{inActive}}</h2>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card ks-widget-weather-and-datetime ks-cold">
            <h4 class="leftspan">Ongoing Consultations</h4>
            <h2 class="rightspan">{{ongoingConsultation}}</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card panel">
            <div class="card-block fixheight">
                <h3>Recent Activity</h3>
                <br>
                <table class="table">
                    <tr *ngFor=" let al of activityLogList ">
                        <td>{{al.text}}</td>
                        <td>{{al.createdAt | date:'shortTime'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="card panel ">
            <div class="card-block ">
                <h3>Online Doctors</h3> <br>
                <ul class="ulli fixheight">
                    <li *ngFor="let od of onlineDoctors ">
                        <span class="ks-avatar ">
                            <img [src]="od.profilePic ? od.profilePic : 'assets/img/avatars/placeholders/ava-64.png' " width="32px " height="32px " /> 
                        </span> &nbsp;{{od.firstName + " ( "+ od.category[0] +") "}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>