.leftspan {
    width: 80%;
    float: left;
}

.rightspan {
    width: 20%;
}

.ulli {
    list-style: none;
    -webkit-padding-start: 0;
}

.ulli li {
    padding: 5px 10px;
}

.fixheight {
    overflow: scroll;
    height: 500px;
}