<mat-toolbar>
  <mat-toolbar-row>
    <img src="https://firebasestorage.googleapis.com/v0/b/doxtrodevelopment.appspot.com/o/Doxtro%2FVector%20Smart%20Object%403x.png?alt=media&token=9d951c3e-32a6-4b4b-8072-afd5181c1baa"
      alt="Photo of a Shiba Inu">
  </mat-toolbar-row>
</mat-toolbar>