<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center"> Team List </h3>
    </div>

    <div class="col-lg-11">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="type something to search" (keyup)="doSearch(searchTerm)" />
    </div>
    <div class="col-lg-1">
        <select [(ngModel)]="pageCount" class="form-control" (change)="onPageCountChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
        </select>
    </div>

    <div class="col-lg-12"> <br> </div>

    <div class="col-lg-12">

        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th><a>TeamId</a></th>
                    <th width="130" (click)="doChangeSort('tag')">Role <i [ngClass]="(sortField=='tag-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='tag-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="130" (click)="doChangeSort('firstName')">Name <i [ngClass]="(sortField=='firstName-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='firstName-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th (click)="doChangeSort('emailid')">Email Id <i [ngClass]="(sortField=='emailid-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='emailid-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th (click)="doChangeSort('mobile')">Mobile <i [ngClass]="(sortField=='mobile-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='mobile-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="160" (click)="doChangeSort('accountActivationTime')">Onborded On <i [ngClass]="(sortField=='accountActivationTime-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='accountActivationTime-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="110" (click)="doChangeSort('accountStatus')">Account Status <i [ngClass]="(sortField=='accountStatus-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='accountStatus-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of dataList">
                    <td>
                        {{doc.userId}}
                    </td>
                    <td>
                        {{doc.tag}}
                    </td>
                    <td>
                        {{doc.firstName}}
                    </td>
                     <td>
                        {{doc.emailid}}
                    </td>
                    <td>
                        {{doc.mobile}}
                    </td>
                    <td>
                        {{doc.accountActivationTime | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}
                    </td>
                    <td>
                        <label [ngClass]="[ 'badge', doc.accountStatus=='inactive' ? 'badge-warning' : 'badge-success'] "> {{doc.accountStatus}} </label>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 ">
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " aria-label="Previous " (click)="doPrevious() ">
                        <span aria-hidden="true " class="la la-caret-left "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                </li>
                <li class="page-item " *ngFor="let pcsc of paginationshowcount " [class.active]="pcsc==currentPage "><a class="page-link " (click)="doChangePage(pcsc) ">{{pcsc}}</a></li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Next " (click)="doNext() ">
                        <span aria-hidden="true " class="la la-caret-right "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
