<div style="margin-top:2%">
    <h4 class="text-center">Slider Images</h4>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Select Image</label>
                <input type="file" (change)="SliderPicChange($event)" />
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control" name="txturl" [(ngModel)]="sliderURL" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info" (click)="saveSliderData()">Submit</button>
            </div>
        </div>
        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-12" *ngFor="let sp of sliderPicList ">

                    <div class="card card-outline-primary">
                        <div class="card-header">
                            <a class="btn btn-primary-outline ks-no-text" (click)="deleteSliderPic(sp.$key)">
                                <span class="fa fa-trash ks-icon"></span>
                            </a>
                        </div>
                        <div class="card-block">
                            <img [src]="sp.imgUrl" style="max-height:250px;" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>