<div class="row">
    <div class="col-lg-4">
        <form class="form" [formGroup]="companyForm" (ngSubmit)="doCompanyCreateUpdate(companyForm)">
            <h4>Create Company</h4>

            <div class="card panel">
                <div class="card-block">
                    <div class="form-group">
                        <label for="name">Company Name</label>
                        <input type="text" class="form-control" placeholder="DOXTRO TECHNOLOGIES PRIVATE LIMITED " formControlName="companyName" [ngClass]="{'error':!companyForm.controls['companyName'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="name">Employee Strength</label>
                        <input type="number" class="form-control" placeholder="1500" formControlName="employeeStrength" [ngClass]="{'error':!companyForm.controls['employeeStrength'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="name">Company Description</label>
                        <textarea class="form-control" placeholder="DOXTRO TECHNOLOGIES PRIVATE LIMITED " formControlName="companyDescription">
            </textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Industry Type</label>
                        <select class="form-control" formControlName="industryType">
              <option *ngFor="let item of industryList" [ngValue]="item">{{item}}</option>
            </select>
                    </div>
                    <div class="form-group">
                        <label for="">Company Type</label>
                        <select class="form-control" formControlName="companyType">
                                <option *ngFor="let item of companyList" [ngValue]="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group" [hidden]="companyForm.controls['companyType'].value!='Partner'">
                        <label for="name">Partner Tag</label>
                        <input type="text" required="required" class="form-control" placeholder="" formControlName="partnerTag" [ngClass]="{'error':!companyForm.controls['partnerTag'].valid}" />
                    </div>
                    <div style="background : #eee; padding:15px;" *ngIf="companyForm.controls['companyType'].value=='Corporates'">
                        <label for="name">Enter Group </label>
                        <div formArrayName="groupItems" *ngFor="let item of getGroupItemsControlls().controls; let i = index;">
                            <div [formGroupName]="i">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Group name" formControlName="group" />
                                                <span class="input-group-addon" id="basic-addon1">
                          <a (click)="removeGroupItem(i, item)">
                            <span class="fa fa-remove ks-icon"></span>
                                                </a>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" (click)="btnAddGroupItem()">Add</button>
                        </div>
                    </div>
                <div class="form-group" *ngIf="companyForm.controls['companyType'].value=='Corporates'">
                        <label>Paying or Non-Paying Corporate ?</label>
                        <br>
                        <label class="custom-control custom-radio">
              <input class="custom-control-input" formControlName="corporatePayType" value="Non-Paying" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Non-Paying</span>
            </label>

                        <label class="custom-control custom-radio">
              <input class="custom-control-input" formControlName="corporatePayType" value="Paying" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Paying</span>
            </label>

                    </div>
                    <div class="form-group" *ngIf="companyForm.controls['companyType'].value=='Corporates'">
                        <label>Select Plan Type?</label>
                        <br>
                        <label class="custom-control custom-radio" [hidden]="companyForm.controls['corporatePayType'].value!='Non-Paying'">
              <input class="custom-control-input" formControlName="planType" value="Coupon" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Coupon</span>
            </label>

                        <label class="custom-control custom-radio">
              <input class="custom-control-input" formControlName="planType" value="Subscription" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Subscription</span>
            </label>

                        <label class="custom-control custom-radio" [hidden]="companyForm.controls['corporatePayType'].value=='Non-Paying'">
              <input class="custom-control-input" formControlName="planType" value="Bulk" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">BulkPlan</span>
            </label>

                        <label class="custom-control custom-radio" [hidden]="companyForm.controls['corporatePayType'].value!='Non-Paying'">
              <input class="custom-control-input" formControlName="planType" value="Package" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Package</span>
            </label>

                    </div>

                    <div class=form-group>
                        <button type="submit" class="btn btn-primary">
              {{companyId ? "UPDATE" : "SUBMIT"}}
            </button>
                    </div>

                </div>
            </div>

        </form>
    </div>
    <div class="col-lg-6" *ngIf="companyForm.controls['planType'].value=='Coupon' && companyForm.controls['corporatePayType'].value=='Non-Paying' && companyId">
        <h4>Coupons</h4>
        <form [formGroup]="paCoupon" (ngSubmit)="doUpdateCreateCoupon(paCoupon)">
            <div class="card panel">
                <div class="card-block">
                    <div class="form-group">
                        <label for="label">Coupon Tag</label>
                        <input type="text" class="form-control" formControlName="couponTag" [ngClass]="{'error':!paCoupon.controls['couponTag'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="name">Consultation Count From</label>
                        <input type="number" class="form-control" min="1" formControlName="countFrom" [ngClass]="{'error':!paCoupon.controls['countFrom'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="email">Counsultation Count To</label>
                        <input type="number" class="form-control" min="1" formControlName="countTo" [ngClass]="{'error':!paCoupon.controls['countTo'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="">Amount/Percentage Value</label>
                        <input type="number" class="form-control" min="0" formControlName="amount" [ngClass]="{'error':!paCoupon.controls['amount'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="">Discount Type</label>
                        <select class="form-control" formControlName="amountType">
              <option value="flat">Flat Discount</option>
              <option value="percentage">Percentage Discount</option>
              <option value="cashback" disabled>Cashback Discount</option>
            </select>
                    </div>
                    <div class="form-group">
                        <label for="">Coupon Type</label>
                        <select class="form-control" formControlName="discountType">
              <option value="discount">Discount</option>
              <option value="surge">Surge Charge</option>
            </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary"> {{ paCoupon.value._id ? "UPDATE" : "SUBMIT"}}</button>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Tag</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Behaviour</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let pa of preappliedCouponList">
                    <td>{{pa.couponTag}}</td>
                    <td>{{pa.countFrom}}</td>
                    <td>{{pa.countTo}}</td>
                    <td>{{pa.amount}}</td>
                    <td>{{pa.amountType}}</td>
                    <td>{{pa.discountType}}</td>
                    <td>
                        <a class="btn btn-primary-outline ks-no-text" (click)="updateCouponbtn(pa)">
                            <span class="fa fa-pencil-square-o ks-icon"></span>
                        </a>
                        <a class="btn btn-primary-outline ks-no-text" (click)="deleteCoupon(pa._id)">
                            <span class="fa fa-trash ks-icon"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-lg-6" *ngIf="companyId && (((companyForm.controls['planType'].value=='Bulk' ||companyForm.controls['planType'].value=='Subscription' || companyForm.controls['planType'].value=='Package') && companyForm.controls['corporatePayType'].value=='Paying') || (companyForm.controls['corporatePayType'].value=='Non-Paying' && (companyForm.controls['planType'].value=='Subscription' || companyForm.controls['planType'].value=='Package')))">
        <h4>{{companyObj.planType}} </h4>

        <form [formGroup]="subscriptionFrm" (ngSubmit)="doUpdateCreateSubscription(subscriptionFrm)">
            <div class="card panel">
                <div class="card-block">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label">Subscription Tag</label>
                                <input type="text" class="form-control" maxlength="25" formControlName="subscriptionTag" [ngClass]="{'error':!subscriptionFrm.controls['subscriptionTag'].valid}" />
                            </div>
                            <div class="col-lg-6">
                                <label for="label">Plan Price</label>
                                <input type="number" min="0" class="form-control" formControlName="price" [ngClass]="{'error':!subscriptionFrm.controls['price'].valid}" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="companyForm.controls['corporatePayType'].value=='Paying'">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="label">Start Date</label>
                                <input type="text" class="form-control" readonly='true' formControlName="startDate" [ngClass]="{'error':!subscriptionFrm.controls['startDate'].valid}" #dp="bsDatepicker" bsDatepicker (bsValueChange)="setMinDate($event)" [minDate]="minstartdate" />
                            </div>
                            <div class="col-lg-6">
                                <label for="label">End Date</label>
                                <input type="text" class="form-control" readonly='true' formControlName="endDate" [ngClass]="{'error':!subscriptionFrm.controls['endDate'].valid}" #dp="bsDatepicker" bsDatepicker [minDate]="mindate" />
                            </div>
                        </div>


                    </div>
                    <div class="form-group">

                        <div class="row">
                            <div class="col-lg-6" [hidden]="companyForm.controls['planType'].value=='Bulk'">
                                <label for="label" *ngIf="subscriptionFrm.controls['subscriptionType'].value=='Subscription'">Payment Cycle</label>
                                <label for="label" *ngIf="subscriptionFrm.controls['subscriptionType'].value=='Package'">Validity Period</label>
                                <select class="form-control" formControlName="paymentCycle">
                                        <option>Monthly</option>
                                        <option>Quarterly</option>
                                        <option>Half-yearly</option>
                                        <option>Yearly</option>
                                        </select>
                            </div>

                            <div class="col-lg-6" [hidden]="!(companyForm.controls['corporatePayType'].value=='Non-Paying' && (companyForm.controls['planType'].value=='Subscription' || companyForm.controls['planType'].value=='Package'))">
                                <label for="label">Original Price</label>
                                <input type="number" min="0" class="form-control" formControlName="originalPrice" [ngClass]="{'error':!subscriptionFrm.controls['originalPrice'].valid}" />
                            </div>

                            <div class="col-lg-6" [hidden]="companyForm.controls['corporatePayType'].value=='Non-Paying'">
                                <label for="label">Free GP Consultation</label>
                                <input type="number" min="0" class="form-control" formControlName="freeGPConsultations" [ngClass]="{'error':!subscriptionFrm.controls['freeGPConsultations'].valid}" />
                            </div>

                            <div class="form-group col-lg-6" [hidden]="companyForm.controls['planType'].value!='Bulk'">
                                <label for="label">Total Consultations</label>
                                <input type="number" min="0" class="form-control" formControlName="totalConsultations" [ngClass]="{'error':!subscriptionFrm.controls['totalConsultations'].valid}" />
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea formControlName="description" placeholder="Description" class="form-control"></textarea>
                    </div>

                    <!-- in case of the non paying take individule values -->

                    <div class="form-group" *ngIf="companyForm.controls[ 'corporatePayType'].value=='Non-Paying' && (companyForm.controls['planType'].value == 'Subscription' || companyForm.controls['planType'].value == 'Package') ">
                        <div class="row ">
                            <div class="col-lg-4 ">
                                <div class="form-group ">
                                    <label for="label ">Fee per employee</label>
                                    <input type="number " min="0 " class="form-control " formControlName="feePerEmployee" />
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                                <div class="form-group ">
                                    <label for="label ">Consultations per emp</label>
                                    <input type="number " min="0 " class="form-control " formControlName="consultationPerEmployee" />
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                                <div class="form-group ">
                                    <label for="label ">Select Relatives</label>
                                    <ss-multiselect-dropdown [options]="relativesList " [texts]="myTexts " [settings]="mySettings " formControlName="allowedFor"></ss-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- in case of paying corporate display the groups -->
                    <div style="background : #eee; padding:15px; margin-bottom:15px;" *ngIf="companyForm.controls['planType'].value != 'Bulk' && companyForm.controls['corporatePayType'].value!='Non-Paying' && companyForm.controls['planType'].value!='Package'">
                        <div formArrayName="groups" *ngFor="let item of getGroupControlls().controls; let i = index;">
                            <div [formGroupName]="i">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="label">Select Group</label>
                                            <select class="form-control" formControlName="groupName">
                        <option *ngFor="let item of companyObj.groups" [value]="item">{{item}}</option>
                      </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="label">Fee per employee</label>
                                            <input type="number" min="0" class="form-control" formControlName="feePerEmployee" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="label">Consultations per emp</label>
                                            <input type="number" min="0" class="form-control" formControlName="consultationPerEmployee" />
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <ss-multiselect-dropdown [options]="relativesList" [texts]="myTexts" [settings]="mySettings" formControlName="allowedFor"></ss-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <button class="btn btn-danger" type="button" (click)="removeGroupSubscrption(i)">Remove</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" (click)="addGroup()">Add</button>
                        </div>
                    </div>



                    <div class="form-group ">
                        <button class="btn btn-primary ">{{subscriptionFrm.value.subscriptionId ? "UPDATE " : "SUBMIT "}}</button>
                    </div>

                    <table class="table table-bordered " *ngIf="(companyForm.controls[ 'corporatePayType'].value=='Non-Paying' && (companyForm.controls[ 'planType'].value=='Subscription' || companyForm.controls[ 'planType'].value=='Package') ) ">
                        <tr>
                            <th>Tag</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let ss of subscriptionList ">
                            <td>{{ss.subscriptionTag}}</td>
                            <td>{{ss.subscriptionType}}</td>
                            <td>{{ss.price}}</td>
                            <td>
                                <a class="btn btn-primary-outline ks-no-text " (click)="updateSubScription(ss) ">
                                    <span class="fa fa-pencil-square-o ks-icon "></span>
                                </a>
                                <a class="btn btn-primary-outline ks-no-text " (click)="deleteSubscription(ss._id) ">
                                    <span class="fa fa-trash ks-icon "></span>
                                </a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </form>

    </div>

</div>