<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="employeeForm" (ngSubmit)="doEmployeeCreate(employeeForm)">
            <h4>Create Employee</h4>

            <div class="card panel">
                <div class="card-block">
                    <div class="form-group">
                        <label for="name">Select Company</label>
                        <select class="form-control" formControlName="companyName" [ngClass]="{'error':!employeeForm.controls['companyName'].valid}" (change)="companyChange($event)">
                          <option *ngFor="let item of companyList" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="companyObj.groups.length > 0">
                        <label for="name">Employee Group</label>
                        <select class="form-control" formControlName="group" [ngClass]="{'error':!employeeForm.controls['group'].valid}">
                            <option *ngFor="let item of companyGroupList" [value]="item">{{item}}</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Employee Name</label>
                        <input type="text" class="form-control" placeholder="Employee Name " formControlName="employeeName" [ngClass]="{'error':!employeeForm.controls['employeeName'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="name">Employee Email</label>
                        <input type="email" class="form-control" placeholder="Employee Email " formControlName="employeeEmail" [ngClass]="{'error':!employeeForm.controls['employeeEmail'].valid}" />
                    </div>
                    <div class="form-group">
                        <label for="name">Employee Phone</label>
                        <input type="text" class="form-control" maxlength="10" placeholder="Employee Phone " formControlName="employeePhone" [ngClass]="{'error':!employeeForm.controls['employeePhone'].valid}" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="col-lg-1">
        <div class="line"></div>
        <div class="wordwrapper">
            <div class="word">or</div>
        </div>
    </div>

    <div class="col-lg-6">
        <form>
            <h4>Bulk Upload</h4>

            <div class="card panel">
                <div class="card-block">
                    <div class="form-group">
                        <a href="https://firebasestorage.googleapis.com/v0/b/doxtrov2.appspot.com/o/Banners%2Ftemplate.xlsx?alt=media&token=e3114e61-b56a-4a2a-a84f-60af5aaa8b0d" target="_blank"> Download Template</a>
                    </div>
                    <div class="form-group">

                        <label for="name">Select File</label>
                        <input type="file" class="form-control" name="empfile" ng2FileSelect [uploader]="uploader" [ngClass]="{'error':!employeeForm.controls['employeePhone'].valid}" />

                    </div>

                    <div class="form-group">
                        <table class="table">
                            <tr *ngFor="let item of uploader.queue">
                                <td>
                                    <strong>{{ item?.file?.name }}</strong>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                        <span class="fa fa-trash"></span> 
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" (click)="handleUpload()">
                      <span class="glyphicon glyphicon-upload"></span> Upload 
                    </button>
                </div>
            </div>
        </form>

        <div *ngIf="bulkuploadresult.success.length>0 || bulkuploadresult.failed.length>0">
            <hr>
            <h4>Result of Bulk Upload</h4>
            <div class="card panel">
                <div class="card-block">

                    <div class="row">
                        <div class="col-lg-6">
                            <span class="badge badge-success">Success : {{bulkuploadresult.success.length}}</span>
                            <br><br>
                            <p *ngFor="let item of bulkuploadresult.success">
                                {{item.data.employeeEmail}}
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <span class="badge badge-danger">Failed : {{bulkuploadresult.failed.length}}</span>
                            <br><br>
                            <p *ngFor="let item of bulkuploadresult.failed">
                                {{item}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>