<div *ngIf="docProfile">

    <form [formGroup]="doctorform" (ngSubmit)="doUpdate(doctorform)" *ngIf="!loadingindicator">
        <div class="row">
            <div class="col-lg-3">
                <h4>Basic Information</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input type="text" class="form-control" formControlName="firstName" [ngClass]="{'error':!doctorform.controls['firstName'].valid}" />
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" formControlName="emailid" [ngClass]="{'error':!doctorform.controls['emailid'].valid}" />
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="experience">Experience</label>
                                    <input type="number" class="form-control" formControlName="experience" [ngClass]="{'error':!doctorform.controls['experience'].valid}" />
                                </div>
                                <div class="col-lg-6">
                                    <label for="experience">Age</label>
                                    <input type="number" class="form-control" formControlName="age" [ngClass]="{'error':!doctorform.controls['age'].valid}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DUNS">Registration Number</label>
                            <input type="text" class="form-control" formControlName="duns" [ngClass]="{'error':!doctorform.controls['duns'].valid}" />
                        </div>

                        <div class="form-group">
                            <label class="custom-control custom-radio">
                              <input class="custom-control-input" formControlName="gender" value="Male" type="radio">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Male</span>
                            </label>

                            <label class="custom-control custom-radio">
                              <input class="custom-control-input" formControlName="gender" value="Female" type="radio">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Female</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="languages">Languages</label>
                            <Br>
                            <ss-multiselect-dropdown [options]="languageList" [texts]="myTexts" [settings]="mySettings" formControlName="language"></ss-multiselect-dropdown>
                        </div>
                        <div class="form-group">
                            <label for="specialization">Select Specialization</label>
                            <Br>
                            <ss-multiselect-dropdown [options]="specializationlist" [texts]="myTexts" [settings]="mySettings" formControlName="specialization"></ss-multiselect-dropdown>
                        </div>
                        <div class="form-group">
                            <label for="bio">Bio</label>
                            <textarea formControlName="bio" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">

                <h4>Profile Picture</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <img class="ks-avatar" height="100" [src]="docProfile.profilePic ? docProfile.profilePic : imgnotfound" width="100"> <br><br>
                            <input type="file" (change)="ProfilePicChange($event)" />
                        </div>
                    </div>
                </div>

                <h4>Enable for</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">

                            <label> Audio Consultation ? </label> <br>

                            <label class="custom-control custom-radio">
                                      <input class="custom-control-input" formControlName="enabledForAudio" [value]=true type="radio">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">Yes</span>
                                    </label>

                            <label class="custom-control custom-radio">
                                      <input class="custom-control-input" formControlName="enabledForAudio" [value]=false type="radio">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">No</span>
                                    </label>

                            <label> Planned Consultation ? </label> <br>

                            <label class="custom-control custom-radio">
                                              <input class="custom-control-input" formControlName="enabledForPlanned" [value]=true type="radio">
                                              <span class="custom-control-indicator"></span>
                                              <span class="custom-control-description">Yes</span>
                                            </label>

                            <label class="custom-control custom-radio">
                                              <input class="custom-control-input" formControlName="enabledForPlanned" [value]=false type="radio">
                                              <span class="custom-control-indicator"></span>
                                              <span class="custom-control-description">No</span>
                                            </label>

                        </div>


                    </div>
                </div>

                <h4>Certificates</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <div>
                                <div *ngFor="let doc of documentList">
                                    <span *ngIf="doc.tag=='Certificates' || doc.tag=='certificates'">
                                        <a href="{{doc.url}}" target="_blank"><i class="fa fa-files-o" aria-hidden="true"></i> {{doc._id}}</a> <a (click)="deleteDoc(doc.url)"> <i class="fa fa-trash" aria-hidden="true"></i> </a><br>
                                    </span>
                                </div>
                            </div>
                            <input type="file" (change)="CertificateChange($event)" multiple />
                        </div>
                    </div>
                </div>

                <h4>Id Proofs</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <div>
                                <div *ngFor="let doc of documentList">
                                    <span *ngIf="doc.tag=='idProof'">
                                                <a href="{{doc.url}}" target="_blank"><i class="fa fa-files-o" aria-hidden="true"></i> {{doc._id}}</a> <a (click)="deleteDoc(doc.url)"> <i class="fa fa-trash" aria-hidden="true"></i> </a><br>
                                            </span>
                                </div>
                            </div>
                            <input type="file" (change)="idProofChange($event)" multiple />
                        </div>
                    </div>
                </div>

                <br><br>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                    <a class="btn btn-info" [routerLink]="[ '/app/doctorslist/' + doctorId]">
                        Go Back
                    </a>
                </div>

            </div>
            <div class=col-lg-6>

                <h4>Work Information</h4>

                <div class="card panel">
                    <div class="card-block">

                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="wforganization" placeholder="Enter Organization" [(ngModel)]="wf.organization" />
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <select class="form-control" [(ngModel)]="wf.specialization" formControlName="wfspecialization">
                                        <option *ngFor="let spec of categorySpecsList" [ngValue]="spec._id">{{spec._id}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <input type="number" class="form-control" formControlName="wfexperience" placeholder="Enter Experience e.g. 2" [(ngModel)]="wf.experience" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" (click)="addWorksFor()">Add WorksFor</button>
                        </div>

                        <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Organization</th>
                                        <th>Specialization</th>
                                        <th>Experience</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let wf of worksforlist">
                                        <td>{{wf.organization}}</td>
                                        <td>{{wf.specialization}}</td>
                                        <td>{{wf.experience}}</td>
                                        <td>
                                            <a (click)="updateworksfor(wf)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a (click)="deleteWorksFor(wf)"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h4>Educational Information</h4>

                <div class="card panel">
                    <div class="card-block">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2">
                                    <select class="form-control" [(ngModel)]="ugpg.type" formControlName="ugpgtypedd">
                            <option *ngFor="let deg of ugpgtypelist" [ngValue]="deg">{{deg}}</option>
                        </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control" [(ngModel)]="ugpg.degree" formControlName="ugedudegree">
                            <option *ngFor="let ug of degreelist" [ngValue]="ug">{{ug}}</option>
                        </select>
                                </div>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" formControlName="ugeducollege" placeholder="College Name" [(ngModel)]="ugpg.college" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4" [hidden]="ugpg.degree!='Others'">
                                    <input type="text" class="form-control" formControlName="ugedeadditionaldata" placeholder="Other Degree" [(ngModel)]="ugpg.additionalData" />
                                </div>
                                <div class="col-lg-4">
                                    <input type="number" class="form-control" formControlName="ugedeadditionaldata" placeholder="From Year" [(ngModel)]="ugpg.yearFrom" />
                                </div>
                                <div class="col-lg-4">
                                    <input type="number" class="form-control" formControlName="ugedeadditionaldata" placeholder="To Year" [(ngModel)]="ugpg.yearTo" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" (click)="addEducationalDetails()">Add Education Details</button>
                        </div>

                        <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Degree</th>
                                        <th>College</th>
                                        <th>Duration</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let bk of educationlist">
                                        <td>{{bk.type}}</td>
                                        <td>{{bk.degree == 'Other' ? bk.additionalData : bk.degree}}</td>
                                        <td>{{bk.college}}</td>
                                        <td>{{bk.yearFrom + " - " + bk.yearTo}}</td>
                                        <td>
                                            <a (click)="updateEducationalDetails(bk)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                                            <a (click)="deleteEducationalDetails(bk)"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <h4>Bank Account Information</h4>

                <div class="card panel">
                    <div class="card-block">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" formControlName="bkaccnumber" placeholder="Enter Account Number" [(ngModel)]="bank.accountNumber" />
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" [(ngModel)]="bank.bank" formControlName="bkbank">
                                        <option *ngFor="let bank of BankList" [ngValue]="bank">{{bank}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" formControlName="bkifsc" placeholder="Enter IFSC Code" [(ngModel)]="bank.IFSC" />
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" formControlName="bkname" placeholder="Enter Account Holder Name" [(ngModel)]="bank.accountHolderName" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="button" (click)="addBanktotheList()">Add Bank</button>
                        </div>

                        <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bank</th>
                                        <th>AccountNumber</th>
                                        <th>IFSC</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let bk of bankAccountList">
                                        <td>{{bk.bank}}</td>
                                        <td>{{bk.accountNumber}}</td>
                                        <td>{{bk.IFSC}}</td>
                                        <td>{{bk.accountHolderName}}</td>
                                        <td>
                                            <a (click)="updateBankAccount(bk)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                                            <a (click)="deleteBankAccount(bk)"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </form>

    <div *ngIf="loadingindicator" class="text-center">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/09b24e31234507.564a1d23c07b4.gif" />
    </div>
</div>