<div class="ks-wrapper ks-sidebar-wrapper">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/dashboard']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-tachometer"></span>
                <span class="ks-text">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/consultations']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-commenting-o"></span>
                <span class="ks-text">Consultations</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/doctorslist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-stethoscope"></span>
                <span class="ks-text">Doctors</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/patientslist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-user"></span>
                <span class="ks-text">Patients</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/teamlist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-users"></span>
                <span class="ks-text">Team</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/createcoupon/0']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-tags"></span>
                <span class="ks-text">Create Coupon</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/settings']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-cog"></span>
                <span class="ks-text">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/reports']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-bar-chart"></span>
                <span class="ks-text">Reports</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/company-list']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-list"></span>
                <span class="ks-text">Company List</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/app/employee-list']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <span class="ks-icon fa fa-users"></span>
                <span class="ks-text">Employee List</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="messenger.html">
                <span class="ks-icon la la-comments-o"></span>
                <span class="ks-text">Messenger</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="document-viewer-pdf.html" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-file-pdf-o"></span>
                <span class="ks-text">Document Viewer</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile-social-profile.html">
                <span class="ks-icon la la-user"></span>
                <span class="ks-text">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile-settings-general.html">
                <span class="ks-icon la la-cogs"></span>
                <span class="ks-text">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="datatables-bootstrap-table.html">
                <span class="ks-icon la la-table"></span>
                <span class="ks-text">DataTable</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="widgets-panels.html">
                <span class="ks-icon la la-puzzle-piece"></span>
                <span class="ks-text">Widgets</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="email-templates.html">
                <span class="ks-icon la la-envelope-o"></span>
                <span class="ks-text">Email Templates</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="documentation.html">
                <span class="ks-icon la la-book"></span>
                <span class="ks-text">Documentation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="faq.html">
                <span class="ks-icon la la-question-circle"></span>
                <span class="ks-text">FAQ</span>
            </a>
        </li> -->
    </ul>
</div>