<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center">
            Consultation List
        </h3>
    </div>

    <div class="col-lg-4">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="search" (keyup)="doSearch(searchTerm)" />
    </div>
    <div class="col-lg-2">
        <select class="form-control" [(ngModel)]="filterCompany" (change)="filterCompanyChange()">
          <option value="" selected="selected">--None--</option>
          <option *ngFor="let comp of companyList" value="{{comp.companyName}}">{{comp.companyName}}</option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control" [(ngModel)]="filterStatus" (change)="filterStatusChange()">
            <option value="">All Status</option>
            <option value="New">New</option>
            <option value="Waiting">Waiting</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Completed">Completed</option>
            <option value="Closed">Closed</option>
        </select>
    </div>
    <div class="col-lg-1">
        <select [(ngModel)]="pageCount" class="form-control" (change)="onPageCountChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="500">500</option>
        </select>
    </div>
    <div class="col-lg-1">
      <button class="btn btn-report-csv" (click)="downloadCsv()">Download csv</button>
    </div>
    <br/>
    <div class="col-lg-12">
    <span class="indicate"> <span class="lblueind"></span> Follow-up Consultation</span>
    <span class="indicate"><span class="lredind"></span> Waiting Consultation</span>
    <span class="indicate"> <span class="lgreenind"></span> Paid Consultation</span>
    </div>

    <div class="col-lg-12"> <br> </div>

    <div class="col-lg-12">

        <table class="table table-bordered dataTable">
            <thead>
                <tr>
                    <th width="50"><a>Sr No.</a></th>
                    <th width="160" (click)="doChangeSort('paymentDate')" width="170">Time <i [ngClass]="(sortField=='paymentDate-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='paymentDate-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="200">Name</th>
                    <th>Count(P / U)</th>
                    <th width="110">Mobile</th>
                    <th width="140">Consulting for</th>
                    <th width="130">Looking for</th>
                    <th width="100">Coupon / Company</th>
                    <th width="130">Selected doctor</th>
                    <th width="110" (click)="doChangeSort('status')">Status <i [ngClass]="(sortField=='status-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='status-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of dataList; let i = index" [ngClass]="{'lgreen' : doc.paymentStatus == 'paid', 'lyellow' : doc.isFollowUp ==true, 'lred' : doc.status == 'Waiting' }">
                    <td [ngClass]="{'orange' : doc.rejectedBy.length==1 && doc.status=='Waiting', 'red' : doc.rejectedBy.length==2 && doc.status=='Waiting'}">
                        {{((currentPage-1)*pageCount) +i + 1}}
                    </td>
                    <td [ngClass]="{'orange' : doc.rejectedBy.length==1 && doc.status=='Waiting', 'red' : doc.rejectedBy.length==2 && doc.status=='Waiting'}">
                        {{doc.paymentDate| amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}
                    </td>
                    <td>
                        {{doc.patientId == undefined ? "NA" : doc.patientId.firstName}}
                    </td>
                    <td>{{doc.patientId.paidConsultations +" / " + doc.patientId.totalConsultations}}</td>
                    <td>
                        {{doc.patientId == undefined ? "NA" : doc.patientId.mobile}}
                    </td>
                    <td>
                        {{doc.consultingFor}} ({{doc.relativesId == undefined ? "NA" : doc.relativesId.age}})
                    </td>
                    <td>
                        {{doc.specializationCategory}}
                    </td>
                    <td>
                        <div>
                            {{doc.couponDetails ? doc.couponDetails.couponTag : "NA"}} /
                            <br> {{doc.thirdPartyName == "doxtro" ? (doc.patientId.companyName ? doc.patientId.companyName : "NA") : doc.thirdPartyName}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="doc.doctorId">{{doc.doctorId.firstName ? doc.doctorId.firstName : "NA"}}</div>
                    </td>
                    <td>
                        {{doc.status}}
                        <span [hidden]="doc.consultationType=='Chat'"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                    </td>
                    <td>
                        <div *ngIf="doc.status=='Waiting'">
                            <!-- [ngClass]="doc.paymentId.date"  -->
                            <button type="button" [ngClass]="{'btn-danger' : getdatediff(doc.paymentId.date), 'btn-info' : !getdatediff(doc.paymentId.date)}" class="btn btn-info btn-sm" (click)="openModal(mdlSelectDoctor, doc)">Assign Doctor</button>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" (click)="openChat(doc)"> Chat</button>
                        <!-- <button type="button" class="btn btn-info" (click)="openTimeline(doc)"> Timeline </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 ">
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " aria-label="Previous " (click)="doPrevious() ">
                        <span aria-hidden="true " class="la la-caret-left "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                </li>

                <li class="page-item " *ngFor="let pcsc of paginationshowcount | slice:(currentPage-1):(currentPage+5)" [class.active]="pcsc==currentPage ">
                    <a class="page-link " (click)="doChangePage(pcsc) ">{{pcsc}}</a>
                </li>
                <li *ngIf="paginationshowcount.length > 5">
                    <a class="page-link " style="width:60px;border-top:none !important;border-left:none !important;border-right:none !important; border-bottom:2px dotted #c4cbe1; margin-left:10px; margin-right:10px;"> &nbsp;</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Next " (click)="doNext() ">
                        <span aria-hidden="true " class="la la-caret-right "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </li>
                <li>
                    <a class="page-link "> {{(pageCount * (currentPage-1))+1 + " to " +(pageCount*currentPage)}} out of {{totalCount}}</a>
                </li>
            </ul>
        </nav>



    </div>
</div>

<ng-template #mdlSelectDoctor>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Please Select Doctor</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div *ngFor="let doc of doctorList">
            <div class="row" style="margin-top:10px">
                <div class="col-md-2">
                    <img [src]="doc.profilePic" class="ks-crm-contact-user-avatar rounded-circle" height="70" width="70" />
                </div>
                <div class="col-md-7">
                    <b>{{doc.firstName}}</b> <br /> {{doc.specialization.join(' , ')}} <br> rating : {{doc.ratingByAdmin}} <br> Consultations : {{doc.ongoingConsultations}}
                </div>
                <div class="col-md-3">
                    <button [ngClass]="{'btn-warning' : seelctedConsultationObj.rejectedBy.indexOf(doc._id) > -1, 'btn-primary' : true}" class="btn btn-primary btn-small" type="button" (click)="assignDoctor(doc._id)">Assign</button>
                </div>
            </div>
        </div>

    </div>
</ng-template>
