.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.lblue {
    background-color: #8080ff;
}

.lred {
    background-color: #ff9a9a;
}

.lgreen {
    background-color: #9aff9a;
}

.lyellow {
    background-color: #ffff4d;
}

.lblueind {
    height: 16px;
    width: 16px;
    background-color: #8080ff;
    border-radius: 50%;
    border: 1px solid #8080ff;
    display: inline-block;
}

.lredind {
    height: 16px;
    width: 16px;
    background-color: #ff9a9a;
    border-radius: 50%;
    border: 1px solid #ff9a9a;
    display: inline-block;
}

.lgreenind {
    height: 16px;
    width: 16px;
    background-color: #9aff9a;
    border-radius: 50%;
    border: 1px solid #9aff9a;
    display: inline-block;
}

.lblueind {
    height: 16px;
    width: 16px;
    background-color: #ffff4d;
    border-radius: 50%;
    border: 1px solid #ffff4d;
    display: inline-block;
}

.helptext {
    font-size: 16px !important;
}

.indicate{
    padding: 20px;
    margin: 20px;
    position: relative;
    top: 10px;
}
.btn-report-csv{
    color: #ffffff;
    background: #0e980e;
    cursor: pointer;
}
