<div class="modal-header">
    <h5 class="modal-title">Edit Profile</h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modalRef.hide()">
        <span aria-hidden="true" class="la la-close"></span>
    </button>
</div>
<div class="modal-body">

    <form [formGroup]="editProfile" (ngSubmit)="editPatient($event)" class="ng-untouched ng-pristine ng-invalid">
        <fieldset class="form-group">
            <label class="form-control-label">
                   Patient Id
                </label>
            <div class="form-control">{{patientDetails.userId}}</div>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label">
                   Name
                </label>
            <input class="form-control ng-untouched ng-pristine ng-invalid" type="text" formControlName="firstName">
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label">
                   Mobile
                </label>
            <div class="form-control">{{patientDetails.mobile}}</div>
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label">
                   EmailId
                </label>
            <input class="form-control ng-untouched ng-pristine ng-invalid" type="text" formControlName="emailid">
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label">
                   Age
                </label>
            <input class="form-control ng-untouched ng-pristine ng-invalid" type="text" formControlName="age">
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label">
                   Gender
                </label><br>
            <input type="radio" formControlName="gender" value="Male">Male
            <input type="radio" formControlName="gender" value="Female">Female

        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label">Height</label><br>
             <select [(ngModel)]="heightInch" formControlName="heightFt">
                <option *ngFor="let ft of feetList" [ngValue]="ft">{{ft}}</option>
            </select><span class="space">ft</span>
             <select [(ngModel)]="heightFt" formControlName="heightInch">
                <option *ngFor="let inch of inchList" [ngValue]="inch">{{inch}}</option>
            </select><span class="space">in</span>
            <!--<input class="form-control ng-untouched ng-pristine ng-invalid" type="text" formControlName="height">-->
        </fieldset>
        <fieldset class="form-group">
            <label class="form-control-label">
                   Weight (in Kgs)
                </label>
            <input class="form-control ng-untouched ng-pristine ng-invalid" type="text" formControlName="weight">
        </fieldset>



        <div class="block"></div>
        <div class="modal-footer btnDiv">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        </div>
    </form>
</div>
<!--<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
</div>-->