<br>
<div class="row">
    <div class="col-lg-6">
        <form (ngSubmit)="doCreateUpdate()">
            <h4>Referral Settings</h4>
            <div class="card panel" *ngIf="ref.charges">
                <div class="card-block">
                    <div class="form-group">
                        <label>Referral Amount (parent)</label>
                        <input type="number" class="form-control" name="refamount" [(ngModel)]="ref.charges.referrer" />
                    </div>
                    <div class="form-group">
                        <label>Referee Amount (child)</label>
                        <input type="number" class="form-control" name="refreeamount" [(ngModel)]="ref.charges.referee" />
                    </div>
                    <div class="form-group">
                        <label>Description Text</label>
                        <textarea class="form-control" name="desMsg" [(ngModel)]="ref.entity">

                        </textarea>

                    </div>
                    <div class="form-group">
                        <label>SMS Text</label>
                        <textarea class="form-control" name="smsText" [(ngModel)]="ref.message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="SUBMIT" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>