<!-- (contextmenu)="onRightClick($event)" -->
<div class="row">
    <div class="col-lg-6" style="border-right:1px solid black">

        <div class=" card panel ">
            <div class="card-block ">

                <div class="panel-collapse " id="collapseOne ">
                    <div class="panel-header">
                        <label class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" [checked]="privateMode" (change)="onPrivateModeChange($event)">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Private Mode</span>
                        </label>
                    </div>
                    <div class="panel-body" #content>
                        <ul class="chat">

                            <li *ngFor="let msg of messagesList" #messages>
                                <!-- {{msg | json}} -->
                                <div *ngIf="msg.from=='Bot' && msg.msgType=='alert' " style="margin:5px 20% " class="clearfix">
                                    <h6 class="text-center ">Bot - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <p [ngClass]="{'blur' : privateMode}">{{msg.data}}</p>
                                </div>

                                <div *ngIf="msg.from=='Admin' && msg.msgType=='alert' " style="margin:5px 20% " class="clearfix">
                                    <h6 class="text-center ">Admin - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <p [ngClass]="{'blur' : privateMode}">{{msg.data}}</p>
                                </div>

                                <div *ngIf="msg.from=='Patient' && msg.msgType=='userIntro'" class="left clearfix ">
                                    <h6>{{consultation.patientName}} - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <div [ngClass]="{'blur' : privateMode}">
                                        <span>{{msg.data.firstName + "," + msg.data.relativesGender + "," + msg.data.relativesAge}}</span><br/>
                                        <b>Health Concern : </b> {{msg.data.note}}
                                    </div>
                                </div>

                                <div *ngIf="msg.from=='Patient' && msg.msgType=='userText'" class="left clearfix ">
                                    <h6>{{consultation.patientName}} - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <div [ngClass]="{'blur' : privateMode}">
                                        {{msg.data}}
                                    </div>
                                </div>

                                <div *ngIf="msg.from=='Patient' && msg.msgType=='image'" class="left clearfix ">
                                    <h6>{{consultation.patientName}} - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <div [ngClass]="{'blur' : privateMode}">
                                        Patient shared an image
                                    </div>
                                </div>

                                <div *ngIf="msg.from=='Doctor' && msg.msgType=='prescription'" class="pull-right clearfix right">
                                    <h6>{{consultation.doctorName}} - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <div [ngClass]="{'blur' : privateMode}">
                                        <p>Doctor has added prescription</p>
                                    </div>
                                </div>

                                <div *ngIf="msg.from=='Doctor' && msg.msgType=='text'" class="pull-right clearfix right">
                                    <h6>{{consultation.doctorName}} - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <div [ngClass]="{'blur' : privateMode}">
                                        {{msg.data}}
                                    </div>
                                </div>

                                <div *ngIf="msg.from=='Doctor ' && msg.msgType=='docImage'" class="pull-right clearfix right">
                                    <h6>{{consultation.doctorName}} - {{msg.timeStamp | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</h6>
                                    <div [ngClass]="{'blur' : privateMode}">
                                        Doctor shared an image
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div class="panel-footer ">
                        <div class="input-group ">
                            <input id="btn-input " type="text " class="form-control input-sm " placeholder="Type your message here... " [(ngModel)]="adminMsg" />
                            <span class="input-group-btn ">
                              <button class="btn btn-warning btn-sm " id="btn-chat " (click)="sendMessage()">
                                  Send
                              </button>
                          </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <p>Requested time : {{consultation.createdAt | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</p>
        <p>Doctor assigned at : {{consultation.assignedAt | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}</p>
        <p *ngIf="consultation.doctorId">Assigned to : {{consultation.doctorId.firstName + "("+ consultation.doctorId.mobile +")"}}</p>
        <p *ngIf="consultation.assignedBy">Assigned by : {{consultation.assignedBy.firstName}}</p>


        <!-- Comment Section Starts here  -->


        <div class=" card panel ">
            <div class="card-block ">

                <div class="panel-collapse " id="collapseOne ">

                    <div class="panel2-body" #contentSuggestion>
                        <ul class="chat">

                            <li *ngFor="let msg of suggestionList; let i = index" #messagesSuggestion>
                                <p><b>{{msg.commentBy}} :</b> {{msg.commentText}}</p>
                            </li>

                        </ul>
                    </div>
                    <div class="panel-footer ">
                        <div class="input-group ">
                            <input id="btn-input " type="text " class="form-control input-sm " placeholder="Type your comments here... " [(ngModel)]="adminComment" />
                            <span class="input-group-btn ">
                              <button class="btn btn-info btn-sm " id="btn-chat " (click)="createConsultationComments()">
                                  Send
                              </button>
                          </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>