.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    /* border-bottom: 1px dotted #B3A9A9; */
}

.chat li>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat li img {
    max-height: 60px;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 550px;
}

.panel2-body {
    overflow-y: scroll;
    height: 430px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.panel-footer {
    margin-top: 40px;
}

h6 {
    margin-bottom: 0;
}

.card-block h6 {
    margin-bottom: 5px;
}

.blur {
    color: transparent;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
}

.clearfix {
    clear: both;
}

.right {
    text-align: right;
}