<html>
	<head>Hi <%= userName %>,</head>
    <body>
    	<p>Welcome to Doxtro !</p>
    	<p>Your account is created at Doxtro with</p> 
        <p>
    	EmailId : <%= emailId %><br/>
    	Password : <%= password %>
    	</p>
    	<p>To access your account, <a href=<%= link %>>Click here</a> </p>
    	<br/><p>Thanks,</p>
    	<p>Doxtro Team</p>
    </body>
</html>