<html>
	<head>Hi <%= userName %>,</head>
    <body>
    	<p>Please check the reset password link below!</p>
    	<p><a href=<%= link %>>Click here</a> </p>
    	<br/><p>Thanks,</p>
    	<p>Doxtro Team</p>
    </body>
</html>