<div>
    <form [formGroup]="couponform" (ngSubmit)="doCreateUpdate(couponform)">
        <div class="row">
            <div class="col-lg-4">
                <h4>Coupon Information</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <label for="name">Coupon Tag</label>
                            <input type="text" class="form-control" placeholder="ex. NOV50" formControlName="couponTag" [ngClass]="{'error':!couponform.controls['couponTag'].valid}" />
                        </div>
                        <div class="form-group">
                            <label for="email">Coupon Amount</label>
                            <input type="number" class="form-control" formControlName="amount" [ngClass]="{'error':!couponform.controls['amount'].valid}" />
                        </div>
                        <div class="form-group">
                            <label>Coupon Type</label>
                            <select class="form-control" formControlName="type">
                                <option *ngFor="let item of couponTypeList" [value]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select ValidFrom to ValidTo</label>
                            <input type="text" placement="right" class="form-control" placeholder="Valid From to Valid To" bsDaterangepicker formControlName="range" />
                        </div>
                        <div class="form-group">
                            <label>Is is for the "First Time User" only ?</label> <br>
                            <label class="custom-control custom-radio">
                              <input class="custom-control-input" formControlName="isForFirstConsultation" [value]=true type="radio">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">True</span>
                            </label>

                            <label class="custom-control custom-radio">
                              <input class="custom-control-input" formControlName="isForFirstConsultation" [value]=false type="radio">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">False</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>How many times a user can apply this coupon?</label>
                            <input type="number" class="form-control" placeholder="Max usage limit - number" formControlName="iterationAllowed" [ngClass]="{'error':!couponform.controls['iterationAllowed'].valid}" />
                        </div>
                        <div class="form-group">
                            <label>Applicable to</label><br/>
                            <label class="custom-control custom-radio">
                                <input class="custom-control-input" formControlName="applicableType" value="consultation" type="radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Consultations</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input class="custom-control-input" formControlName="applicableType" value="package" type="radio">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Packages</span>
                            </label>
                        </div>
                        <div class= "form-group"  *ngIf="couponform.controls['applicableType'].value=='package'">
                            <label>Packages</label>
                            <select required class="form-control" formControlName="packageId">
                                <option *ngFor="let pA  of packageAvailable" [ngValue]="pA">{{pA.subscriptionTag}}</option>
                             </select>
                        </div>
                        <div class="form-group">
                            <label>This coupon is valid only for ?</label> <br>
                            <label class="custom-control custom-radio">
                                  <input class="custom-control-input" formControlName="couponGenderSpecific" value="Female" type="radio">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Female</span>
                                </label>

                            <label class="custom-control custom-radio">
                                  <input class="custom-control-input" formControlName="couponGenderSpecific" value="Male" type="radio">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Male</span>
                                </label>
                            <label class="custom-control custom-radio">
                                        <input class="custom-control-input" formControlName="couponGenderSpecific" value="All" type="radio">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">All</span>
                                      </label>
                        </div>


                        <div class=form-group>
                            <input type="submit" value="SUBMIT" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <h4>Coupon List</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Coupon Tag</th>
                            <th>Valid From</th>
                            <th>Valid To</th>
                            <th>Applicable</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cl of couponList">
                            <td>{{cl.couponTag}}</td>
                            <td>{{cl.validFrom | amLocal | amDateFormat: 'YYYY-MM-DD'}}</td>
                            <td>{{cl.validTo | amLocal | amDateFormat: 'YYYY-MM-DD'}}</td>
                            <td *ngIf="(cl.applicableType == 'package')">{{cl.packageName}}</td>
                            <td *ngIf="(cl.applicableType == 'consultation')">Consultations</td>
                            <td *ngIf="(!cl.applicableType)">-</td>
                            <td>{{cl.amount}}</td>
                            <td>
                                <a class="btn btn-primary-outline ks-no-text" (click)="updateCouponbtn(cl)">
                                    <span class="fa fa-pencil-square-o ks-icon"></span>
                                </a>
                                <a class="btn btn-primary-outline ks-no-text" (click)="deleteCoupon(cl._id)">
                                    <span class="fa fa-trash ks-icon"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>