<div class="modal-header">
    <h5 class="modal-title"></h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modalRef.hide()">
        <span aria-hidden="true" class="la la-close"></span>
    </button>
</div>
<div class="modal-body">

    <!-- row for patient details -->
    <div class="row" *ngIf="patientDetails">
        <div class="col-lg-4">
            <div class="ks-user">
                <img class="ks-avatar pull-left" height="36" src="assets/img/avatars/ava-1.png" width="36">
                <span class="pull-left" style="padding-left:10px">
                        patientid - {{patientDetails.userId}}<br>
                        Name : {{patientDetails.firstName == undefined ? "NA" : patientDetails.firstName}}
                        
                </span>
            </div>
        </div>
        <div class="col-lg-4">
             Contact : {{patientDetails.mobile}} <br> EmailId : {{patientDetails.emailid}}<br>Gender : {{patientDetails.gender == undefined? "NA" : patientDetails.gender}}
        </div>
         <div class="col-lg-4">
             Age : {{patientDetails.age == undefined? "NA" : patientDetails.age}} <br> Height : {{patientDetails.height == undefined ? "NA" : patientDetails.height}} <br> Weight : {{patientDetails.weight == undefined ? "NA" : patientDetails.weight}}
        </div>
    </div>

     <!-- row for Consultation stats -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Consultation Details</h3> <br>
        </div>
        <div class="col-lg-4 text-center">
            Today <br>
            <h3>4</h3>
            <i class="fa fa-inr" aria-hidden="true"></i> 800
        </div>
        <div class="col-lg-4 text-center">
            Fortnight <br>
            <h3>16</h3>
            <i class="fa fa-inr" aria-hidden="true"></i> 3,200
        </div>
        <div class="col-lg-4 text-center">
            Overall <br>
            <h3>74</h3>
            <i class="fa fa-inr" aria-hidden="true"></i> 14,800
        </div>
    </div>

    



</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
</div>
