<app-navbar></app-navbar>

<div class="ks-page-container ks-dashboard-tabbed-sidebar-fixed-tabs" appAutoHeight data-is-auto-height="parent" data-is-min-height="true">
    <!-- <div *ngIf="message">
        <h1>
            {{ (message | async)?.notification.title }}</h1>
        <img [src]="(message | async)?.notification.icon" width="100px" />
        <p>{{(message | async)?.notification.body}}</p>
    </div> -->

    <!-- BEGIN DEFAULT SIDEBAR -->
    <div class="ks-column ks-sidebar ks-info ks-iconbar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="ks-column ks-page">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="ks-mobile-overlay"></div>