<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center"> HealthFeed List </h3>
    </div>

    <div class="col-lg-11">
        <input type="text" [(ngModel)]="search" class="form-control" placeholder="type something to search" (keyup)="doSearch(search)" />
    </div>
    <div class="col-lg-1">
        <select [(ngModel)]="pageCount" class="form-control" (change)="onPageCountChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="500">500</option>
        </select>
    </div>

    <div class="col-lg-12"> <br> </div>

    <div class="col-lg-12">
        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Media</th>
                    <th>Sort Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataList">
                    <td [width]="250" style="word-break: break-all;">{{item.title}}</td>
                    <td>{{item.mediaType}}</td>
                    <td [width]="150">
                        <div *ngIf="item.mediaType == 'Image'">
                            <img [src]="item.coverPic" style="height: 100px" />
                        </div>
                        <div *ngIf="item.mediaType == 'Video'">
                            <!-- <fb-video [href]="getVideoUrl(item.videoId)" [width]="100"></fb-video> -->
                            <img [src]="item.thumbnails[0] ? item.thumbnails[0].uri : 'http://www.vishmax.com/en/innovattive-cms/themes/themax-theme-2015/images/no-image-found.gif'" style="height: 100px" />
                        </div>
                    </td>
                    <td [width]="350" style="word-break: break-all;">
                        <div [innerHTML]="item.summaryText"></div>
                    </td>
                    <td>
                        <a class="btn btn-primary-outline ks-no-text" [routerLink]="['/app/health-feed/create/',item._id]">
                            <span class="fa fa-pencil-square-o ks-icon"></span>
                        </a>
                        <a class="btn btn-primary-outline ks-no-text" [routerLink]="['/healthfeed/view/',item._id]">
                            <span class="fa fa-eye ks-icon"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 ">
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " aria-label="Previous " (click)="doPrevious() ">
                        <span aria-hidden="true " class="la la-caret-left "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                </li>

                <li class="page-item " *ngFor="let pcsc of paginationshowcount | slice:(currentPage-1):(currentPage+5)" [class.active]="pcsc==currentPage ">
                    <a class="page-link " (click)="doChangePage(pcsc) ">{{pcsc}}</a>
                </li>
                <li *ngIf="paginationshowcount.length > 5">
                    <a class="page-link " style="width:60px;border-top:none !important;border-left:none !important;border-right:none !important; border-bottom:2px dotted #c4cbe1; margin-left:10px; margin-right:10px;"> &nbsp;</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Next " (click)="doNext() ">
                        <span aria-hidden="true " class="la la-caret-right "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Total Count">
                        {{(articleObj.pageCount * (currentPage-1))+1 + " to " +(articleObj.pageCount*currentPage)}} out of {{totalArticles}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>