<div class="row">
    <div class="col-lg-12">

        <tabset>
            <tab heading="Pre Applied Coupon">
                <app-preapplied-coupon></app-preapplied-coupon>
            </tab>
            <tab heading="Consultation Charges">
                <app-consultation-charges></app-consultation-charges>
            </tab>
            <tab heading="Slider Image">
                <app-slider-image></app-slider-image>
            </tab>
            <tab heading="Subscription / Package">
                <app-retail-subscription></app-retail-subscription>
            </tab>
            <tab heading="Referral">
                <app-referral-settings></app-referral-settings>
            </tab>

        </tabset>


    </div>
</div>