<div style="margin-top:2%">
    <h4 class="text-center">Consultation Charges</h4>

    <div class="row">
        <div class="col-lg-4">

            <form>
                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <label>Select Specialization</label>
                            <select class="form-control" name="category" [(ngModel)]="ccharges.subCategory">
                            <option *ngFor="let spl of specializationList" [ngValue]="spl._id">{{spl._id}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <label>Select Consultation Type</label>
                            <select class="form-control" name="consultationType" [(ngModel)]="ccharges.consultationType">
                                <option *ngFor="let spl of consulationTypeList" [value]="spl">{{spl}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Consultation Fee</label>
                            <input type="number" class="form-control" name="patientFee" min="1" [(ngModel)]="ccharges.charges.consultationFee" />
                        </div>
                        <div class="form-group">
                            <label for="">Service Charges (in %)</label>
                            <input type="number" class="form-control" name="serviceCharge" min="1" [(ngModel)]="ccharges.charges.serviceCharge" />
                        </div>
                        <div class="form-group">
                            <label for="">Doctor Fee</label>
                            <input type="number" class="form-control" name="doctorFee" min="0" [(ngModel)]="ccharges.charges.doctorFee" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="button" (click)="createccharge()"> Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Specialization</th>
                        <th>Type</th>
                        <th>Patient Fee</th>
                        <th>Service Charge</th>
                        <th>Doctor Fee</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let splchrg of cchargesList">
                        <td>{{splchrg.subCategory}}</td>
                        <td>{{splchrg.consultationType}}</td>
                        <td>{{splchrg.charges.consultationFee}}</td>
                        <td>{{splchrg.charges.serviceCharge}}</td>
                        <td>{{splchrg.charges.doctorFee}}</td>
                        <td>
                            <a class="btn btn-primary-outline ks-no-text" (click)="updateSplCharges(splchrg)">
                                <span class="fa fa-pencil-square-o ks-icon"></span>
                            </a>
                            <!-- <a class="btn btn-primary-outline ks-no-text" (click)="deleteSplCharges(splchrg._id)">
                                <span class="fa fa-trash ks-icon"></span>
                            </a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>