<div class="d-flex align-items-stretch min-height-100 h-100">
    <div class="bg-cover bg-1 hidden-sm-down col-md-6 col-lg-8"></div>
    <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
        <form [formGroup]="newpassword" (ngSubmit)="doChangePassword(newpassword)" class="ng-untouched ng-pristine ng-invalid">
            <div class="mb-3">
                <img alt="DOXTRO" class="avatar-xs mb-1 logoimg" src="assets/img/logo.png">
                <p class="ff-headers text-uppercase">Change Password here</p>
            </div>
            <div>
                <fieldset class="form-group">
                    <label class="form-control-label" for="username">
                    Enter New Password
                </label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="New Password" type="password" formControlName="password">
                </fieldset>

                <div class="block"></div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>