<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center"> Employee List </h3>
    </div>

    <div class="col-lg-6">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="type something to search" (keyup)="doSearch(searchTerm)" />
    </div>
    <div class="col-lg-3">
        <ss-multiselect-dropdown [options]="companyList" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="selectedCompany" name="companyId" (ngModelChange)="onChangeCompany($event)"></ss-multiselect-dropdown>
    </div>
    <div class="col-lg-1">
        <select [(ngModel)]="pageCount" class="form-control" (change)="onPageCountChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="500">500</option>
        </select>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-warning" [routerLink]="['/app/corpoemployee']"> Add new Employee </a>
    </div>

    <div class="col-lg-12"> <br> </div>

    <div class="col-lg-12">

        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th width="50">Sr. No</th>
                    <th width="110" (click)="doChangeSort('companyName')">Company Name <i [ngClass]="(sortField=='companyName-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='companyName-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i> </th>
                    <th width="110" (click)="doChangeSort('employeeName')">Employee Name <i [ngClass]="(sortField=='employeeName-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='employeeName-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i> </th>
                    <th width="160" (click)="doChangeSort('createdAt')">createdAt <i [ngClass]="(sortField=='createdAt-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='createdAt-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="200" (click)="doChangeSort('employeeEmail')">Employee Email <i [ngClass]="(sortField=='employeeEmail-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='employeeEmail-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th (click)="doChangeSort('employeePhone')" width="130">Employee Phone <i [ngClass]="(sortField=='employeePhone-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='employeePhone-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th item-width="50">Signed Status</th>
                    <th width="130">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of dataList; let i = index">
                    <td>{{empObj.skip + i+1}}</td>
                    <td>
                        {{doc.companyName}}
                    </td>
                    <td>
                        {{doc.employeeName}}
                    </td>
                    <td>
                        {{doc.createdAt | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}
                    </td>
                    <td>
                        {{doc.employeeEmail}}
                    </td>
                    <td>
                        {{doc.employeePhone}}
                    </td>
                    <td>
                        {{ (doc.registered == true) ? "Registerd" : "Not Registered"}}
                    </td>
                    <td>
                        <a class="btn btn-primary-outline ks-no-text" (click)="deleteEmployee(doc._id)">
                            <span class="fa fa-trash ks-icon"></span>
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 ">
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " aria-label="Previous " (click)="doPrevious() ">
                        <span aria-hidden="true " class="la la-caret-left "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                </li>

                <li class="page-item " *ngFor="let pcsc of paginationshowcount | slice:(currentPage-1):(currentPage+5)" [class.active]="pcsc==currentPage ">
                    <a class="page-link " (click)="doChangePage(pcsc) ">{{pcsc}}</a>
                </li>
                <li *ngIf="paginationshowcount.length > 5">
                    <a class="page-link " style="width:60px;border-top:none !important;border-left:none !important;border-right:none !important; border-bottom:2px dotted #c4cbe1; margin-left:10px; margin-right:10px;"> &nbsp;</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Next " (click)="doNext() ">
                        <span aria-hidden="true " class="la la-caret-right "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Total Count">
                        {{(empObj.pageCount * (currentPage-1))+1 + " to " +(empObj.pageCount*currentPage)}} out of {{totalComap}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>