<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center"> Doctors List </h3>
    </div>

    <div class="col-lg-11">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="type something to search" (keyup)="doSearch(searchTerm)" />
    </div>
    <div class="col-lg-1">
        <select [(ngModel)]="pageCount" class="form-control" (change)="onPageCountChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="500">500</option>
        </select>
    </div>

    <div class="col-lg-12"> <br> </div>

    <div class="col-lg-12">

        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th width="50">Sr. No</th>
                    <th width="110" (click)="doChangeSort('isOnline')">On/Off <i [ngClass]="(sortField=='isOnline-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='isOnline-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i> </th>
                    <th width="100"><a>Docto's ID</a></th>
                    <th width="160" (click)="doChangeSort('accountActivationTime')">Onborded On <i [ngClass]="(sortField=='accountActivationTime-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='accountActivationTime-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="200" (click)="doChangeSort('firstName')">Name <i [ngClass]="(sortField=='firstName-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='firstName-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th (click)="doChangeSort('mobile')" width="130">Mobile <i [ngClass]="(sortField=='mobile-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='mobile-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="230">Specialization</th>
                    <th width="110" (click)="doChangeSort('status')">Status <i [ngClass]="(sortField=='status-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='status-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="130">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of dataList; let i = index" (click)="getDetails(doc._id)">
                    <td>{{doctorObj.skip + i+1}}</td>
                    <td>
                        <img width="16" [src]="doc.isOnline==true ? '/assets/img/online.png' : '/assets/img/offline.png'" />
                    </td>
                    <td>
                        {{doc.userId}}
                    </td>
                    <td>
                        {{doc.accountActivationTime | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}
                    </td>
                    <td>
                        {{doc.firstName}}
                    </td>
                    <td>
                        {{doc.mobile}}
                    </td>
                    <td>
                        {{doc.specialization.join(' , ')}}
                    </td>
                    <td>
                        <label [ngClass]="[ 'badge', doc.status=='pending' ? 'badge-warning' : 'badge-success'] "> {{doc.status}} </label>
                    </td>
                    <td>
                        <a class="btn btn-primary-outline ks-no-text" [routerLink]="['/app/doctorupdate',doc._id]">
                            <span class="fa fa-pencil-square-o ks-icon"></span>
                        </a>
                        <a class="btn btn-primary-outline ks-no-text" [routerLink]="['/app/doctoravailabilityupdate',doc._id]">
                            <span class="fa fa-calendar ks-icon"></span>
                        </a>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 ">
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " aria-label="Previous " (click)="doPrevious() ">
                        <span aria-hidden="true " class="la la-caret-left "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                </li>

                <li class="page-item " *ngFor="let pcsc of paginationshowcount | slice:(currentPage-1):(currentPage+5)" [class.active]="pcsc==currentPage ">
                    <a class="page-link " (click)="doChangePage(pcsc) ">{{pcsc}}</a>
                </li>
                <li *ngIf="paginationshowcount.length > 5">
                    <a class="page-link " style="width:60px;border-top:none !important;border-left:none !important;border-right:none !important; border-bottom:2px dotted #c4cbe1; margin-left:10px; margin-right:10px;"> &nbsp;</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Next " (click)="doNext() ">
                        <span aria-hidden="true " class="la la-caret-right "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Total Count">
                        {{(doctorObj.pageCount * (currentPage-1))+1 + " to " +(doctorObj.pageCount*currentPage)}} out of {{totalDocs}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>