<br>
<form>
    <div class="row">
        <div class="col-lg-2"></div>


        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" format="dd/mm/yyyy" placement="bottom" class="form-control" placeholder="Valid From to Valid To" bsDaterangepicker name="range" (bsValueChange)="getReport($event)" />
            </div>
        </div>
        <div class="col-lg-3">
            <ss-multiselect-dropdown [options]="specializationList" [texts]="myTexts" [settings]="mySettings" name="specs" [(ngModel)]="selectedSpecializations" (ngModelChange)="onSpecsChange($event)"></ss-multiselect-dropdown>
        </div>
        <div class="col-lg-2">
            Total Consultations : {{totalConsultations}}
        </div>
    </div>
</form>

<nvd3 #consvsspecs [options]="options" [data]="data">
</nvd3>