<div class="row">
    <div class="col-lg-12">

        <tabset>

            <tab heading="Doctor Payment Report">
                <app-doctor-payment-report></app-doctor-payment-report>
            </tab>
            <tab heading="Doctor vs Specialization" (select)="docspecs.testmethod()" #docspecschart>
                <app-doctor-vs-specialization #docspecs></app-doctor-vs-specialization>
            </tab>
            <tab heading="Consultations vs Specialization">
                <app-consultations-vs-specialization></app-consultations-vs-specialization>
            </tab>
            <tab heading="Consultations vs Time">
                <app-consultations-vs-time></app-consultations-vs-time>
            </tab>
            <tab heading="Registration from Partner/Corporates">
                <app-partners-vs-corporates></app-partners-vs-corporates>
            </tab>
            <tab heading="Package Coupon Report">
                <app-package-vs-coupon></app-package-vs-coupon>
            </tab>
            <!-- <tab heading="Consultation Charges">
              <app-consultation-charges></app-consultation-charges>
          </tab>
          <tab heading="Slider Image">
              <app-slider-image></app-slider-image>
          </tab> -->
        </tabset>


    </div>
</div>