<div class="container" *ngIf="newsFeed.title">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{newsFeed.title}}</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#"> Dr. {{newsFeed.doctor.firstName}} </a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on {{newsFeed.createdAt | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm' }}</p>

            <hr>

            <!-- Preview Image -->
            <div *ngIf="newsFeed.mediaType == 'Image'">
                <img class="img-fluid rounded" [src]="newsFeed.coverPic" alt="">
            </div>
            <div *ngIf="newsFeed.mediaType == 'Video'">
                <fb-video [href]="getVideoUrl(newsFeed.videoId)"></fb-video>
            </div>

            <hr>

            <!-- Post Content -->
            <div #healthfeedcontent class="feedContent" [innerHTML]="getNewsFeedContent()"></div>

        </div>

    </div>
    <!-- /.row -->

</div>

<script>
    // $(function() {
    //     $('.healthfeedcontent').bind("onload ", function() {
    //         console.log("onload ", $('.healthfeedcontent').length);
    //         alert($(this).val());
    //     });


    //     // .load(() => {
    //     //     alert($(this).length);
    //     //     $('.healthfeedcontent img').addClass('img-fluid');
    //     // })
    // });
</script>