<!-- BEGIN HEADER -->
<nav class="navbar ks-navbar">
    <!-- BEGIN HEADER INNER -->
    <!-- BEGIN LOGO -->
    <div [routerLink]="['/app/dashboard']" class="navbar-brand">
        <!-- BEGIN RESPONSIVE SIDEBAR TOGGLER -->
        <a class="ks-sidebar-toggle"><i class="ks-icon la la-bars" aria-hidden="true"></i></a>
        <a class="ks-sidebar-mobile-toggle"><i class="ks-icon la la-bars" aria-hidden="true"></i></a>
        <!-- END RESPONSIVE SIDEBAR TOGGLER -->

        <div class="ks-navbar-logo">
            <a [routerLink]="['/app/dashboard']" class="ks-logo">
                <img src="./../../../assets/img/logos/logo.png" width="100" />
            </a>

            <!-- END GRID NAVIGATION -->
        </div>
    </div>
    <!-- END LOGO -->

    <!-- BEGIN MENUS -->
    <div class="ks-wrapper">
        <nav class="nav navbar-nav">
            <!-- BEGIN NAVBAR MENU -->
            <div class="ks-navbar-menu">
                <a class="nav-item nav-link" [routerLink]="['/app/dashboard']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
                <a class="nav-item nav-link" [routerLink]="['/app/consultations']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Consultations</a>
                <a class="nav-item nav-link" [routerLink]="['/app/doctorslist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Doctors</a>
                <a class="nav-item nav-link" [routerLink]="['/app/patientslist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Patients</a>
                <a class="nav-item nav-link" [routerLink]="['/app/teamlist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Team</a>
                <a class="nav-item nav-link" [routerLink]="['/app/createcoupon/0']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Coupon</a>
                <a class="nav-item nav-link" [routerLink]="['/app/settings']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Settings</a>
                <a class="nav-item nav-link" [routerLink]="['/app/reports']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Reports</a>
                <a class="nav-item nav-link" [routerLink]="['/app/company-list']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Company List</a>
                <a class="nav-item nav-link" [routerLink]="['/app/employee-list/0']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Employee List</a>
                <div [ngClass]="['nav-item', 'dropdown', 'ks-user', userdd]">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showUser()" style="color: white">
                          Health Feed
                        </a>
                    <div class="dropdown-menu ks-info" aria-labelledby="Preview">
                        <a class="dropdown-item" [routerLink]="['/app/health-feed/create/0']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Create HealthFeed</a>
                        <a class="dropdown-item" [routerLink]="['/app/health-feed/list']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">HealthFeed List</a>
                    </div>
                </div>

            </div>
            <!-- END NAVBAR MENU -->

            <!-- BEGIN NAVBAR ACTIONS -->
            <div class="ks-navbar-actions">

                <!-- BEGIN NAVBAR USER  -->
                <div [ngClass]="['nav-item', 'dropdown', 'ks-user', userdd]">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="showUser()">
                        <span class="ks-avatar">
                            <img src="assets/img/avatars/placeholders/ava-64.png" width="36" height="36">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
                        <a class="dropdown-item" (click)="doLogout()">
                            <span class="la la-sign-out ks-icon" aria-hidden="true"></span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
                <!-- END NAVBAR USER -->
            </div>
            <!-- END NAVBAR ACTIONS -->
        </nav>

        <!-- BEGIN NAVBAR ACTIONS TOGGLER -->
        <nav class="nav navbar-nav ks-navbar-actions-toggle">
            <a class="nav-item nav-link" href="">
                <span class="la la-ellipsis-h ks-icon ks-open"></span>
                <span class="la la-close ks-icon ks-close"></span>
            </a>
        </nav>
        <!-- END NAVBAR ACTIONS TOGGLER -->

        <!-- BEGIN NAVBAR MENU TOGGLER -->
        <nav class="nav navbar-nav ks-navbar-menu-toggle">
            <a class="nav-item nav-link" href="">
                <span class="la la-th ks-icon ks-open"></span>
                <span class="la la-close ks-icon ks-close"></span>
            </a>
        </nav>
        <!-- END NAVBAR MENU TOGGLER -->
    </div>
    <!-- END MENUS -->
    <!-- END HEADER INNER -->
</nav>
<!-- END HEADER -->



<script type="text/javascript">
    $('.ks-navbar .dropdown-menu .dropdown-toggle').on('click', function(e) {
        debugger;
        var self = $(this);
        var parent = self.closest('.dropdown');

        parent.toggleClass('show');
    });
</script>