<div *ngIf="docProfile">

    <form [formGroup]="avabform" (ngSubmit)="doUpdate(avabform)">
        <div class="row">
            <div class="col-lg-4">
                <h4>Availability Form</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <label for="name">Select Day</label>
                            <select class="form-control" formControlName="dayOfWeek">
                                <option *ngFor="let day of dayList" [ngValue]="day">{{day}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Start Time</label>
                            <select class="form-control" formControlName="startTime">
                                <option *ngFor="let time of timeSlots" [ngValue]="time">{{time}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">End Time</label>
                            <select class="form-control" formControlName="endTime">
                                <option *ngFor="let time of timeSlots" [ngValue]="time">{{time}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                              Submit
                            </button>
                            <button type="button" class="btn btn-info" (click)="copyToAll(avabform)">
                                Copy To All
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <h4>Availability timings</h4>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let av of docavailability">
                            <td>{{av.dayOfWeek}}</td>
                            <td>{{av.startTime | timeFormat}}</td>
                            <td>{{av.endTime | timeFormat}}</td>
                            <td>
                                <a class="btn btn-primary-outline ks-no-text" (click)="deleteavailability(av)">
                                    <span class="fa fa-trash ks-icon"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </form>
</div>