<div>
  <form>
      <div class="row">
          <div class="col-lg-3">
              <br><br>
              <div class="card panel">
                  <div class="card-block">

                      <div class="form-group">
                          <label>Package Subscription Date Range</label>
                          <input type="text" format="dd/mm/yyyy" placement="right" class="form-control" placeholder="Package subscribed between" bsDaterangepicker [(ngModel)]="packageCouponReportForm.range" name="range" (bsValueChange)="changeInRange($event)" />
                      </div>

                      <div class="form-group" *ngIf="packageList.length>0">
                          <label for="name">Select Package</label>
                          <Br>
                          <ss-multiselect-dropdown [options]="packageList" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="packageCouponReportForm.packageId" name="packageId" (ngModelChange)="changeInPackage($event)"></ss-multiselect-dropdown>
                      </div>

                      <div class="form-group">
                          <input type="button" class="btn btn-primary" value="SUBMIT" (click)="getReport()" />
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-9" [hidden]="reportrows.length==0">
              <br><br>
              <div>
                <div><b>Frequency of Coupon used :</b> </div>
                <br>
                <div class="row">
                    <div class="col-lg-3" *ngFor="let coupon of additionalDetailsKeys; let i = index">
                        <div>{{coupon}} : {{additionalDetails[coupon]}}</div>
                    </div>
                </div>
              </div>
              <br><br>
              <button type="button" (click)="downloadReport()" class="btn btn-info">Download Report</button>
              <br>
              <div class="pull-right">
                  <span>Total Records : {{reportCount}}</span>
              </div>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Sr.No</th>
                          <th>Date</th>
                          <th>Patient Name</th>
                          <th>Mobile</th>
                          <th>Coupon Code</th>
                          <th>Amount</th>
                          <th>Doxtro Cash</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of reportrows; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{constructDate(item.date)}}</td>
                          <td>{{item.patientName}}</td>
                          <td>{{item.mobile}}</td>
                          <td>{{item.couponTag}}</td>
                          <td>{{(item.amount/100)}}</td>
                          <td>{{(item.doxtroCash/100)}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </form>
</div>
