<div>
    <form>
        <div class="row">
            <div class="col-lg-4">
                <br><br>
                <div class="card panel">
                    <div class="card-block">

                        <div class="form-group">
                            <label>Select Registration Date Range</label>
                            <input type="text" format="dd/mm/yyyy" placement="right" class="form-control" placeholder="Partners/Corporates registered between" bsDaterangepicker [(ngModel)]="registrationReportForm.range" name="range" (bsValueChange)="changeInRange($event)" />
                        </div>

                        <div class="form-group">
                            <label for="name">Select Company Type</label>
                            <Br>
                            <ss-multiselect-dropdown [options]="companyTypeList" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="registrationReportForm.companyType" name="companyType" (ngModelChange)="changeInCompanyType($event)"></ss-multiselect-dropdown>

                        </div>

                        <div class="form-group" *ngIf="companyList.length>0">
                            <label for="name">Select Company</label>
                            <Br>
                            <ss-multiselect-dropdown [options]="companyList" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="registrationReportForm.companyName" name="companyName" (ngModelChange)="changeInCompanyName($event)"></ss-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value="SUBMIT" (click)="getReport()" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" [hidden]="reportrows.length==0">
                <br><br>
                <button type="button" (click)="downloadReport()" class="btn btn-info">Download Report</button>
                <br>
                <div class="pull-right">
                    <span>Total Records : {{reportCount}}</span>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Date</th>
                            <th>Patient Name</th>
                            <th>Company Name</th>
                            <th>Gender</th>
                            <th>Mobile</th>
                            <th>Account Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of reportrows; let i = index">
                            <td>{{i+1}}</td>
                            <td width="160">{{constructDate(item.accountActivationTime)}}</td>
                            <td>{{item.firstName}}</td>
                            <td>{{item.companyName}}</td>
                            <td>{{(item.gender)? item.gender : ""}}</td>
                            <td>{{item.mobile}}</td>
                            <td>{{item.accountStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>