<div class="row">
    <div *ngFor="let item of videos" class="col-lg-3 videolist">
        <fb-video [href]="getVideoUrl(item)" data-autoplay="false" width="220px"></fb-video>
        <Br>
        <Br>
        <button class="btn btn-info" (click)="selectedVideo(item)"> Select </button>
        <br>
    </div>

    <div style="margin-top:20px">
        <ul class="pager">
            <li *ngIf="pagination.previous"><a (click)="getPrevNext(pagination.previous)">Previous</a></li>
            <li *ngIf="pagination.next"><a (click)="getPrevNext(pagination.next)">Next</a></li>
        </ul>
    </div>

</div>