<div>
    <form>
        <div class="row">
            <div class="col-lg-4">
                <br><br>
                <div class="card panel">
                    <div class="card-block">

                        <div class="form-group">
                            <label>Select Duration</label>
                            <input type="text" format="dd/mm/yyyy" placement="right" class="form-control" placeholder="Valid From to Valid To" bsDaterangepicker [(ngModel)]="dprfrm.range" name="range" (bsValueChange)="getDoctorsandSpecs($event)" />
                        </div>

                        <div class="form-group">
                            <label for="name">Select Doctor</label>
                            <Br>
                            <ss-multiselect-dropdown [options]="doctorList" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="dprfrm.doctorId" name="doctorId" (ngModelChange)="onChangeDoctor($event)"></ss-multiselect-dropdown>

                        </div>

                        <div class="form-group">
                            <label for="name">Select Specialization</label>
                            <Br>
                            <ss-multiselect-dropdown [options]="specializationList" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="dprfrm.specializationId" name="specializationId" (ngModelChange)="onChangeSpecs($event)"></ss-multiselect-dropdown>

                        </div>

                        <div class="form-group">
                            <input type="button" class="btn btn-primary" value="SUBMIT" (click)="dogetreport()" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" [hidden]="reportrows.length==0">
                <br><br>
                <button type="button" (click)="downloadPDF()" class="btn btn-info" [hidden]="!isDownloadEnabled">Download PDF</button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Date</th>
                            <th>{{isDownloadEnabled ? "Category" : "DoctorName"}}</th>
                            <th>Patient</th>
                            <th>DoctorFee</th>
                            <th>Service Charge</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of reportrows; let i = index">
                            <td>{{i+1}}</td>
                            <td width="160">{{item.date + " " + item.time}}</td>
                            <td>{{ isDownloadEnabled ? item.specializationCategory : item.doctorName}}</td>
                            <td>{{item.patientName}}</td>
                            <td>{{item.doctorFee}}</td>
                            <td>{{item.serviceCharge}}</td>
                            <td>{{item.earnings}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> {{getSum('doctorFee')}}</td>
                            <td>{{getSum('serviceCharge')}}</td>
                            <td>{{getSum('earnings')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>