<div>

    <form [formGroup]="frmHealthFeed" (ngSubmit)="doCreateUpdate(frmHealthFeed)">
        <div class="row">
            <div class="col-lg-8">
                <h4>Create / Update HealthFeed</h4>

                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" placeholder="Title" formControlName="title" [ngClass]="{'error':!frmHealthFeed.controls['title'].valid}" />
                        </div>
                        <div class="form-group">
                            <label [hidden]="frmHealthFeed.controls['content'].value.length > 200"> Min-Length : {{200 - frmHealthFeed.controls['content'].value.length}}</label>
                            <quill-editor formControlName="content" [style]="{height: '500px'}" [ngClass]="{'redcolorborder':!frmHealthFeed.controls['content'].valid}" (onEditorCreated)="EditorCreated($event)" #editor></quill-editor>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h4>Status</h4>

                <div class="card panel">
                    <div class="card-block text-center">
                        <a type="button" class="btn btn-info" *ngIf="frmHealthFeed.controls['_id'].value" (click)="openPreview()">Preview</a>
                        <button type="submit" class="btn btn-success" [disabled]="!frmHealthFeed.valid || isRequestInProgress">{{ frmHealthFeed.controls['_id'].value ? "Update" : "Publish"}}</button>

                    </div>
                </div>

                <!-- <fb-video href="https://www.facebook.com/facebook/videos/402626340151428"></fb-video> -->



                <h4>Cover Image / Video</h4>
                <div class="card panel">
                    <div class="card-block">
                        <div class="form-group">
                            <label class="custom-control custom-radio">
                                        <input class="custom-control-input" formControlName="mediaType" value="Image" type="radio">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Image</span>
                                      </label>

                            <label class="custom-control custom-radio">
                                        <input class="custom-control-input" formControlName="mediaType" value="Video" type="radio">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Video</span>
                                      </label>
                        </div>

                        <div [hidden]="frmHealthFeed.controls['mediaType'].value==='Video'">
                            <input type="file" (change)="CoverPicChange($event)"> <br/><br>
                            <div class="uploadedCoverPic">
                                <img [src]="uploadedCoverPic" style="max-height: 100px" *ngIf="uploadedCoverPic" />
                            </div>
                        </div>
                        <div [hidden]="frmHealthFeed.controls['mediaType'].value==='Image'">
                            <input type="button" value="Select Video" class="btn btn-info" (click)="getVideoList()">
                            <div #fbvideo>
                                Selected Video : {{selectedVideo}}
                                <fb-video [href]="getVideoUrl()"></fb-video>
                            </div>

                        </div>

                    </div>
                </div>

                <h4>Categories</h4>
                <div class="card panel">
                    <div class="card-block">
                        <label for="specialization">Select Categories</label>
                        <Br>
                        <ss-multiselect-dropdown [options]="specializationlist" [texts]="myTexts" [settings]="mySettings" formControlName="categories" [ngClass]="{'redcolorborder':!frmHealthFeed.controls['categories'].valid}"></ss-multiselect-dropdown>

                    </div>
                </div>

                <div class="card panel">
                    <div class="card-block">
                        <label for="specialization">Select Doctor</label>
                        <Br>
                        <ss-multiselect-dropdown [options]="doctorList" [texts]="myTexts" [settings]="docSettings" formControlName="doctorId" [ngClass]="{'redcolorborder':!frmHealthFeed.controls['doctorId'].valid}"></ss-multiselect-dropdown>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>

<ng-template #template>

    <div class="modal-header">
        <h4 class="modal-title pull-left">Select Video</h4>
        <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
    </div>
    <div class="modal-body">
        <app-health-feed-fb-videos (videoSelected)="videoSelectHandler($event)"> </app-health-feed-fb-videos>
    </div>

</ng-template>

<div class="loading" [hidden]="!isRequestInProgress">Loading&#8230;</div>