<div class="modal-header">
    <h5 class="modal-title"></h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modalRef.hide()">
      <span aria-hidden="true" class="la la-close"></span>
  </button>
</div>
<div class="modal-body">

    <!-- row for doctor details -->
    <div class="row" *ngIf="documents">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th width="200">Document</th>
                        <th>Status</th>
                        <th>Comments</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let docs of documents" class="table table-bordered">
                        <td>
                            {{docs.tag}}
                        </td>
                        <td>
                            <a href="{{docs.url}}" target="_blank">
                            {{docs.url | decodeURI}} <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                        </td>
                        <td>
                            <select class="form-control {{docs._id + '-status'}}">
                            <option value="accepted" [attr.selected]="docs.status=='accepted' ? true : null">Accept</option>
                            <option value="rejected" [attr.selected]="docs.status=='rejected' ? true : null">Reject </option>
                      </select>
                        </td>
                        <td>
                            <textarea cols="30" rows="5" placeholder="Put your comments here ..." class="form-control {{docs._id + '-reason'}}" value="{{docs.reason}}"></textarea>
                        </td>
                        <td>
                            <button (click)="doVerifyDoc(docs._id)" class="btn" [ngClass]="docs.status=='pending' ? 'btn-warning' : (docs.status=='rejected' ? 'btn-danger' : 'btn-success')">Submit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
</div>