<div class="d-flex align-items-stretch min-height-100 h-100">
    <div class="bg-cover bg-1 hidden-sm-down col-md-6 col-lg-8"></div>
    <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
        <form [formGroup]="signIn" (ngSubmit)="doSignIn($event)" class="ng-untouched ng-pristine ng-invalid">
            <div class="mb-3">
                <img alt="DOXTRO" class="avatar-xs mb-1 logoimg" src="assets/img/logo.png">
                <p class="ff-headers text-uppercase" [hidden]="ifFPVisible">Sign in to your account</p>
            </div>
            <div [hidden]="ifFPVisible">
                <fieldset class="form-group">
                    <label class="form-control-label" for="username">
                    Enter your username
                </label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="EmailId" type="text" formControlName="emailid">
                </fieldset>
                <fieldset class="form-group">
                    <label class="form-control-label" for="password">
                    Enter your password
                </label>
                    <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="********" type="password" formControlName="password">
                    <a class="form-text" (click)="openforgotpassword()"><small >Recover password</small></a>
                </fieldset>

                <div class="block"></div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>

        <div [hidden]="!ifFPVisible">
            <fieldset class="form-group">
                <label class="form-control-label" for="username">
                        Enter your Email
                    </label>
                <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="EmailId" type="email" name="fpemailid" [(ngModel)]="emailId">
            </fieldset>
            <div class="block"></div>
            <button class="btn btn-primary" type="button" (click)="submitForgotPassword()">Submit</button>
            <button class="btn btn-info" type="button" (click)="ifFPVisible = !ifFPVisible">SignIn</button>
        </div>
    </div>
</div>