<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center"> Patients List </h3>
    </div>

    <div class="col-lg-11">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="type something to search" (keyup)="doSearch(searchTerm)" />
    </div>
    <div class="col-lg-1">
        <select [(ngModel)]="pageCount" class="form-control" (change)="onPageCountChange()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="500">500</option>
        </select>
    </div>

    <div class="col-lg-12"> <br> </div>

    <div class="col-lg-12">

        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th>SN. No</th>
                    <th><a>PatientId</a></th>
                    <th width="160" (click)="doChangeSort('accountActivationTime')">Onborded On <i [ngClass]="(sortField=='accountActivationTime-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='accountActivationTime-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="130" (click)="doChangeSort('firstName')">Name <i [ngClass]="(sortField=='firstName-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='firstName-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th (click)="doChangeSort('mobile')">Mobile <i [ngClass]="(sortField=='mobile-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='mobile-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th width="110" (click)="doChangeSort('accountStatus')">Account Status <i [ngClass]="(sortField=='accountStatus-asc' ) ? 'fa fa-fw fa-sort-asc': ((sortField=='accountStatus-desc' ) ? 'fa fa-fw fa-sort-desc' : 'fa fa-fw fa-sort')"></i></th>
                    <th colspan="3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of dataList; let i = index">
                    <td>{{skip + i+1}}</td>
                    <td>
                        {{doc.userId}}
                    </td>
                    <td>
                        {{doc.accountActivationTime | amLocal | amDateFormat: 'DD-MM-YYYY HH:mm'}}
                    </td>
                    <td (click)="getDetails(doc._id)">
                        {{doc.firstName}}
                    </td>
                    <td>
                        {{doc.mobile}}
                    </td>
                    <td>
                        <label class="badge" [ngClass]="getColor(doc.accountStatus)"> {{doc.accountStatus}} </label>
                    </td>
                    <td><i (click)="editProfile(doc._id)" class="fa fa-pencil"></i></td>
                    <td><i (click)="remove(i, doc._id)" class="fa fa-trash-o"></i></td>
                    <td><i *ngIf="doc.accountStatus != 'blocked'" (click)="block(i, doc._id)" class="fa fa-times"></i>
                        <i *ngIf="doc.accountStatus == 'blocked'" (click)="unblock(i, doc._id)" class="fa fa-check"></i></td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 ">
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " aria-label="Previous " (click)="doPrevious() ">
                        <span aria-hidden="true " class="la la-caret-left "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                </li>

                <li class="page-item " *ngFor="let pcsc of paginationshowcount | slice:(currentPage-1):(currentPage+5)" [class.active]="pcsc==currentPage ">
                    <a class="page-link " (click)="doChangePage(pcsc) ">{{pcsc}}</a>
                </li>
                <li *ngIf="paginationshowcount.length > 5">
                    <a class="page-link " style="width:60px;border-top:none !important;border-left:none !important;border-right:none !important; border-bottom:2px dotted #c4cbe1; margin-left:10px; margin-right:10px;"> &nbsp;</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Next " (click)="doNext() ">
                        <span aria-hidden="true " class="la la-caret-right "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </li>
                <li class="page-item ">
                    <a class="page-link " aria-label="Total Count">
                       {{(pageCount * (currentPage-1))+1 + " to " +(pageCount*currentPage)}} out of {{totalpatients}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>